Repository liferay/liferay-frontend-projects, pull requests merged in 2020-10, with the labels that each got.

#98 feat: add script to install packages locally in a DXP checkout
  support/install-packages.sh
Labels: feat

#100 docs(scripts): add top-level sinopsis
  projects/npm-tools/packages/npm-scripts/README.md
Labels: docs, npm-scripts, npm-tools

#97 feat: add support for formatting and linting TypeScript
  package.json
  projects/eslint-config/fixtures/sample.ts
  projects/eslint-config/index.js
  projects/eslint-config/metal.js
  projects/eslint-config/package.json
  projects/eslint-config/portal.js
  projects/npm-tools/packages/npm-scripts/src/config/eslint.config.js
  projects/npm-tools/packages/npm-scripts/src/presets/standard/index.js
  projects/npm-tools/packages/npm-scripts/src/scripts/format.js
  yarn.lock
Labels: eslint-config, feat, npm-scripts, npm-tools

#99 docs: add top-level CONTRIBUTING.md
  CONTRIBUTING.md
Labels: docs

#103 feat(scripts): allow Prettier to format more files (YAML, Markdown)
  .github/workflows/ci.yml
  projects/npm-tools/packages/npm-scripts/src/scripts/format.js
Labels: feat, npm-scripts, npm-tools

#101 fix(scripts): apply Liferay-specific Prettier overrides to TS also
  projects/npm-tools/packages/npm-scripts/src/prettier/index.js
Labels: bug, npm-scripts, npm-tools

#102 chore: update ESLint to latest v7 release
  package.json
  projects/eslint-config/package.json
  projects/npm-tools/packages/npm-scripts/package.json
  yarn.lock
Labels: chore, eslint-config, npm-scripts, npm-tools

#104 chore: ignore yarn-error.log files
  .gitignore
Labels: chore

#105 chore: update dependencies
  projects/eslint-config/package.json
  projects/npm-tools/packages/js-insights/package.json
  projects/npm-tools/packages/js-publish/package.json
  projects/npm-tools/packages/npm-scripts/package.json
  yarn.lock
Labels: chore, eslint-config, js-insights, js-publish, npm-scripts, npm-tools

#107 docs(eslint-config): tweak CONTRIBUTING.md
  projects/eslint-config/CONTRIBUTING.md
Labels: docs, eslint-config

#108 chore(npm-scripts): update eslint-config dependency to v21.2.0
  projects/npm-tools/packages/npm-scripts/package.json
Labels: chore, npm-scripts, npm-tools

#109 docs(npm-tools): update a stale link
  projects/npm-tools/CONTRIBUTING.md
Labels: docs, npm-tools

#110 fix(npm-tools): make Prettier overrides work with TS
  projects/npm-tools/packages/npm-scripts/src/prettier/index.js
  projects/npm-tools/packages/npm-scripts/src/prettier/rules/newline-before-block-statements.js
  projects/npm-tools/packages/npm-scripts/test/prettier/index.js
Labels: bug, npm-scripts, npm-tools

#113 chore(eslint-config): mark typescript as a peer dependency
  projects/eslint-config/package.json
  yarn.lock
Labels: chore, eslint-config

#114 fix(npm-scripts): bundle TypeScript dependencies
  package.json
  projects/npm-tools/packages/npm-scripts/package.json
  yarn.lock
Labels: bug, npm-scripts, npm-tools

#115 chore(eslint-config): update eslint-plugin-react to v7.21.3
  projects/eslint-config/package.json
  yarn.lock
Labels: chore, eslint-config

#117 chore(npm-scripts): update @liferay/eslint-config to v21.2.1
  projects/npm-tools/packages/npm-scripts/package.json
  yarn.lock
Labels: chore, npm-scripts, npm-tools

#116 feat(changelog-generator): make --version optional when --dry-run is on
  projects/npm-tools/packages/changelog-generator/src/index.js
Labels: changelog-generator, feat, npm-tools

#118 docs: encourage people to dog-food local packages
  projects/eslint-config/CONTRIBUTING.md
  projects/eslint-config/package.json
  projects/npm-tools/CONTRIBUTING.md
Labels: docs, eslint-config, npm-tools, refactor

#120 docs: advise people to remove the temporary remote after importing
  CONTRIBUTING/importing-a-project.md
Labels: docs

#121 docs: hoist js-tookit licensing info up to top-level
  LICENSES/LGPL-3.0-or-later.txt
  maintenance/projects/js-toolkit/LICENSE.md
  maintenance/projects/js-toolkit/LICENSES/LGPL-3.0-or-later.txt
  projects/js-toolkit/LICENSE.md
Labels: docs, js-toolkit

#122 chore: configure labeler for js-toolkit
  .github/labeler.yml
Labels: chore, js-toolkit

#123 chore: configure issue template for js-toolkit
  .github/ISSUE_TEMPLATE/js-toolkit.md
Labels: chore, js-toolkit

#124 docs(js-toolkit): add links from top-level README and CONTRIBUTING
  CONTRIBUTING.md
  README.md
Labels: docs, js-toolkit

#130 chore(monorepo): add ".ts" to our editorconfig
  .editorconfig
Labels: chore

#131 chore(js-toolkit): update info and links in package.json files
  maintenance/projects/js-toolkit/package.json
  maintenance/projects/js-toolkit/packages/babel-plugin-add-module-metadata/package.json
  maintenance/projects/js-toolkit/packages/babel-plugin-alias-modules/package.json
  maintenance/projects/js-toolkit/packages/babel-plugin-name-amd-modules/package.json
  maintenance/projects/js-toolkit/packages/babel-plugin-namespace-amd-define/package.json
  maintenance/projects/js-toolkit/packages/babel-plugin-namespace-modules/package.json
  maintenance/projects/js-toolkit/packages/babel-plugin-normalize-requires/package.json
  maintenance/projects/js-toolkit/packages/babel-plugin-wrap-modules-amd/package.json
  maintenance/projects/js-toolkit/packages/babel-preset-liferay-standard/package.json
  maintenance/projects/js-toolkit/packages/generator-liferay-js/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-bridge-generator/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-build-support/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-build-tools-common/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-loader-babel-loader/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-loader-copy-loader/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-loader-css-loader/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-loader-json-loader/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-loader-sass-loader/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-loader-style-loader/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-plugin-exclude-imports/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-plugin-inject-imports-dependencies/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-plugin-inject-peer-dependencies/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-plugin-namespace-packages/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-plugin-replace-browser-modules/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-plugin-resolve-linked-dependencies/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-preset-angular-cli/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-preset-create-react-app/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-preset-standard/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-preset-vue-cli/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-imports-checker/package.json
  projects/js-toolkit/package.json
  projects/js-toolkit/packages/generator-liferay-js/package.json
  projects/js-toolkit/packages/liferay-js-toolkit-core/package.json
  projects/js-toolkit/packages/liferay-js-toolkit-scripts/package.json
  projects/js-toolkit/packages/liferay-npm-bridge-generator/package.json
  projects/js-toolkit/packages/liferay-npm-bundler/package.json
Labels: 2.x, 3.x, chore, js-toolkit

#132 chore(js-toolkit): sort package.json files
  maintenance/projects/js-toolkit/package.json
  maintenance/projects/js-toolkit/packages/babel-plugin-add-module-metadata/package.json
  maintenance/projects/js-toolkit/packages/babel-plugin-alias-modules/package.json
  maintenance/projects/js-toolkit/packages/babel-plugin-name-amd-modules/package.json
  maintenance/projects/js-toolkit/packages/babel-plugin-namespace-amd-define/package.json
  maintenance/projects/js-toolkit/packages/babel-plugin-namespace-modules/package.json
  maintenance/projects/js-toolkit/packages/babel-plugin-normalize-requires/package.json
  maintenance/projects/js-toolkit/packages/babel-plugin-wrap-modules-amd/package.json
  maintenance/projects/js-toolkit/packages/babel-preset-liferay-standard/package.json
  maintenance/projects/js-toolkit/packages/generator-liferay-js/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-bridge-generator/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-build-support/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-build-tools-common/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-loader-babel-loader/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-loader-copy-loader/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-loader-css-loader/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-loader-json-loader/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-loader-sass-loader/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-loader-style-loader/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-plugin-exclude-imports/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-plugin-inject-imports-dependencies/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-plugin-inject-peer-dependencies/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-plugin-namespace-packages/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-plugin-replace-browser-modules/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-plugin-resolve-linked-dependencies/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-preset-angular-cli/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-preset-create-react-app/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-preset-standard/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-preset-vue-cli/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-imports-checker/package.json
  maintenance/projects/js-toolkit/resources/devtools/find-generator/package.json
  maintenance/projects/js-toolkit/resources/devtools/link-js-toolkit/package.json
  projects/js-toolkit/package.json
  projects/js-toolkit/packages/generator-liferay-js/package.json
  projects/js-toolkit/packages/liferay-js-toolkit-core/package.json
  projects/js-toolkit/packages/liferay-js-toolkit-scripts/package.json
  projects/js-toolkit/packages/liferay-npm-bridge-generator/package.json
  projects/js-toolkit/packages/liferay-npm-bundler/package.json
  projects/js-toolkit/resources/devtools/find-generator/package.json
  projects/js-toolkit/resources/devtools/link-js-toolkit/package.json
  support/sortJSON.js
Labels: 2.x, 3.x, chore, js-toolkit

#133 refactor(js-toolkit): make tests work in monorepo
  .eslintignore
  .github/workflows/ci.yml
  .prettierignore
  jest.config.js
  maintenance/projects/js-toolkit/.travis.yml
  maintenance/projects/js-toolkit/jest.config.js
  maintenance/projects/js-toolkit/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-build-tools-common/src/manifest.ts
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-loader-sass-loader/src/__tests__/index.test.js
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-plugin-replace-browser-modules/src/__tests__/index.test.ts
  maintenance/projects/js-toolkit/tsconfig.json
  maintenance/projects/js-toolkit/yarn.lock
  package.json
  projects/eslint-config/package.json
  projects/js-toolkit/package.json
  projects/js-toolkit/packages/generator-liferay-js/package.json
  projects/js-toolkit/packages/liferay-js-toolkit-core/package.json
  projects/js-toolkit/packages/liferay-js-toolkit-core/src/file/__tests__/FilePath.test.ts
  projects/js-toolkit/packages/liferay-js-toolkit-core/src/project/__tests__/Project.test.ts
  projects/js-toolkit/packages/liferay-npm-bundler/package.json
  projects/js-toolkit/scripts/build.js
  projects/js-toolkit/scripts/clean.js
  projects/js-toolkit/tsconfig.json
  projects/npm-tools/package.json
  projects/npm-tools/packages/changelog-generator/package.json
  projects/npm-tools/packages/jest-junit-reporter/package.json
  projects/npm-tools/packages/js-insights/package.json
  projects/npm-tools/packages/js-publish/package.json
  projects/npm-tools/packages/npm-bundler-preset-liferay-dev/package.json
  projects/npm-tools/packages/npm-scripts/package.json
  yarn.lock
Labels: 2.x, 3.x, changelog-generator, eslint-config, jest-junit-reporter, js-insights, js-publish, js-toolkit, npm-bundler-preset-liferay-dev, npm-scripts, npm-tools

#137 fix(eslint-config): special case import of "."
  maintenance/projects/js-toolkit/packages/liferay-npm-build-tools-common/src/project/copy.ts
  maintenance/projects/js-toolkit/packages/liferay-npm-build-tools-common/src/project/jar.ts
  maintenance/projects/js-toolkit/packages/liferay-npm-build-tools-common/src/project/localization.ts
  maintenance/projects/js-toolkit/packages/liferay-npm-build-tools-common/src/project/misc.ts
  maintenance/projects/js-toolkit/packages/liferay-npm-build-tools-common/src/project/rules.ts
  maintenance/projects/js-toolkit/packages/liferay-npm-build-tools-common/src/project/transform.ts
  maintenance/projects/js-toolkit/packages/liferay-npm-build-tools-common/src/project/util.ts
  projects/eslint-config/plugins/liferay/lib/common/imports.js
  projects/eslint-config/plugins/liferay/tests/lib/rules/sort-imports.js
  projects/js-toolkit/packages/liferay-npm-bundler/src/report/html.ts
Labels: 2.x, 3.x, eslint-config, fix, js-toolkit

#135 refactor(js-toolkit): hoist devDependencies out of project and packages to top level
  package.json
  projects/js-toolkit/package.json
  projects/js-toolkit/packages/generator-liferay-js/package.json
  projects/js-toolkit/packages/liferay-js-toolkit-scripts/package.json
  projects/js-toolkit/packages/liferay-npm-bridge-generator/package.json
  projects/js-toolkit/packages/liferay-npm-bundler/package.json
  projects/js-toolkit/scripts/util/report.js
  yarn.lock
Labels: 3.x, js-toolkit

#138 chore(js-toolkit): configure release messages consistently
  maintenance/projects/js-toolkit/lerna.json
  projects/js-toolkit/packages/generator-liferay-js/.yarnrc
  projects/js-toolkit/packages/liferay-js-toolkit-core/.yarnrc
  projects/js-toolkit/packages/liferay-js-toolkit-scripts/.yarnrc
  projects/js-toolkit/packages/liferay-npm-bridge-generator/.yarnrc
  projects/js-toolkit/packages/liferay-npm-bundler/.yarnrc
Labels: 2.x, chore, js-toolkit

#139 docs(monorepo): add a bunch more detail on how to import a project
  CONTRIBUTING/importing-a-project.md
Labels: docs

#140 docs(js-toolkit): update links prior to release
  README.md
  maintenance/projects/js-toolkit/CONTRIBUTING.md
  maintenance/projects/js-toolkit/README.md
Labels: 2.x, docs, js-toolkit

#141 chore(js-toolkit): make post-release tweaks
  CONTRIBUTING/importing-a-project.md
  maintenance/projects/js-toolkit/CONTRIBUTING.md
  maintenance/projects/js-toolkit/lerna.json
Labels: 2.x, js-toolkit

#142 chore(npm-tools): update js-toolkit deps from v2.19.3 to v2.19.4
  projects/npm-tools/packages/npm-bundler-preset-liferay-dev/package.json
  projects/npm-tools/packages/npm-scripts/package.json
  yarn.lock
Labels: chore, npm-bundler-preset-liferay-dev, npm-scripts, npm-tools

#143 chore(npm-scripts): update npm-bundler-preset-liferay-dev to v4.6.4
  projects/npm-tools/packages/npm-scripts/package.json
Labels: chore, npm-scripts, npm-tools

#145 chore(monorepo): add a .mailmap file
  .mailmap
Labels: chore

#152 chore(js-toolkit): move liferay-js-toolkit-scripts (v3.x) to @liferay/js-toolkit-scripts
  projects/js-toolkit/packages/js-toolkit-core/src/project/Probe.ts
  projects/js-toolkit/packages/js-toolkit-scripts/.yarnrc
  projects/js-toolkit/packages/js-toolkit-scripts/README.md
  projects/js-toolkit/packages/js-toolkit-scripts/bin/js-toolkit.js
  projects/js-toolkit/packages/js-toolkit-scripts/package.json
  projects/js-toolkit/packages/js-toolkit-scripts/src/config.ts
  projects/js-toolkit/packages/js-toolkit-scripts/src/index.ts
  projects/js-toolkit/packages/js-toolkit-scripts/src/scripts/__tests__/translate.test.ts
  projects/js-toolkit/packages/js-toolkit-scripts/src/scripts/build.ts
  projects/js-toolkit/packages/js-toolkit-scripts/src/scripts/copy-assets.ts
  projects/js-toolkit/packages/js-toolkit-scripts/src/scripts/copy-sources.ts
  projects/js-toolkit/packages/js-toolkit-scripts/src/scripts/create-jar/__tests__/__fixtures__/metatype.xml
  projects/js-toolkit/packages/js-toolkit-scripts/src/scripts/create-jar/__tests__/__fixtures__/preferences.json
  projects/js-toolkit/packages/js-toolkit-scripts/src/scripts/create-jar/__tests__/__fixtures__/preferences.l10n.json
  projects/js-toolkit/packages/js-toolkit-scripts/src/scripts/create-jar/__tests__/__snapshots__/expected.preferences.json
  projects/js-toolkit/packages/js-toolkit-scripts/src/scripts/create-jar/__tests__/__snapshots__/expected.preferences.l10n.json
  projects/js-toolkit/packages/js-toolkit-scripts/src/scripts/create-jar/__tests__/__snapshots__/xml.test.ts.snap
  projects/js-toolkit/packages/js-toolkit-scripts/src/scripts/create-jar/__tests__/ddm.test.ts
  projects/js-toolkit/packages/js-toolkit-scripts/src/scripts/create-jar/__tests__/xml.test.ts
  projects/js-toolkit/packages/js-toolkit-scripts/src/scripts/create-jar/ddm.ts
  projects/js-toolkit/packages/js-toolkit-scripts/src/scripts/create-jar/index.ts
  projects/js-toolkit/packages/js-toolkit-scripts/src/scripts/create-jar/xml.ts
  projects/js-toolkit/packages/js-toolkit-scripts/src/scripts/deploy.ts
  projects/js-toolkit/packages/js-toolkit-scripts/src/scripts/start.ts
  projects/js-toolkit/packages/js-toolkit-scripts/src/scripts/translate.ts
  projects/js-toolkit/packages/js-toolkit-scripts/tsconfig.json
  projects/js-toolkit/packages/liferay-js-toolkit-scripts/.yarnrc
Labels: 3.x, chore, js-toolkit

#153 chore(js-toolkit): move liferay-npm-bridge-generator (v3.x) to @liferay/npm-bridge-generator
  projects/js-toolkit/packages/liferay-npm-bridge-generator/.yarnrc
  projects/js-toolkit/packages/npm-bridge-generator/.yarnrc
  projects/js-toolkit/packages/npm-bridge-generator/README.md
  projects/js-toolkit/packages/npm-bridge-generator/bin/liferay-npm-bridge-generator.js
  projects/js-toolkit/packages/npm-bridge-generator/package.json
  projects/js-toolkit/packages/npm-bridge-generator/src/liferay-npm-bridge-generator.ts
  projects/js-toolkit/packages/npm-bridge-generator/tsconfig.json
Labels: 3.x, chore, js-toolkit

#154 chore(js-toolkit): move liferay-npm-bundler (v3.x) to @liferay/npm-bundler
  projects/js-toolkit/CONTRIBUTING.md
  projects/js-toolkit/packages/generator-js/src/adapt/index.ts
  projects/js-toolkit/packages/generator-js/src/facet-project/index.ts
  projects/js-toolkit/packages/generator-js/src/facet-project/templates/package.json.ejs
  projects/js-toolkit/packages/js-toolkit-core/src/project/Probe.ts
  projects/js-toolkit/packages/js-toolkit-core/src/project/Project.ts
  projects/js-toolkit/packages/js-toolkit-core/src/project/__tests__/Project.test.ts
  projects/js-toolkit/packages/js-toolkit-scripts/src/scripts/create-jar/index.ts
  projects/js-toolkit/packages/liferay-npm-bundler/.yarnrc
  projects/js-toolkit/packages/npm-bundler/.yarnrc
  projects/js-toolkit/packages/npm-bundler/CHANGELOG.md
  projects/js-toolkit/packages/npm-bundler/README.md
  projects/js-toolkit/packages/npm-bundler/bin/liferay-npm-bundler.js
  projects/js-toolkit/packages/npm-bundler/package.json
  projects/js-toolkit/packages/npm-bundler/src/adapt/angular-cli/index.ts
  projects/js-toolkit/packages/npm-bundler/src/adapt/angular-cli/templates/adapt-rt.js.ejs
  projects/js-toolkit/packages/npm-bundler/src/adapt/angular-cli/tweakAttachmentToDOM.ts
  projects/js-toolkit/packages/npm-bundler/src/adapt/bundler-project/index.ts
  projects/js-toolkit/packages/npm-bundler/src/adapt/bundler-project/replaceWebpackJsonp.ts
  projects/js-toolkit/packages/npm-bundler/src/adapt/bundler-project/write-export-modules.ts
  projects/js-toolkit/packages/npm-bundler/src/adapt/create-react-app/index.ts
  projects/js-toolkit/packages/npm-bundler/src/adapt/create-react-app/templates/adapt-rt.js.ejs
  projects/js-toolkit/packages/npm-bundler/src/adapt/create-react-app/tweakAttachmentToDOM.ts
  projects/js-toolkit/packages/npm-bundler/src/adapt/index.ts
  projects/js-toolkit/packages/npm-bundler/src/adapt/liferay-fragment/index.ts
  projects/js-toolkit/packages/npm-bundler/src/adapt/templates/export-module.ejs
  projects/js-toolkit/packages/npm-bundler/src/adapt/templates/index.js.ejs
  projects/js-toolkit/packages/npm-bundler/src/adapt/templates/manifest-module.ejs
  projects/js-toolkit/packages/npm-bundler/src/bundle/ExplainedError.ts
  projects/js-toolkit/packages/npm-bundler/src/bundle/configure.ts
  projects/js-toolkit/packages/npm-bundler/src/bundle/index.ts
  projects/js-toolkit/packages/npm-bundler/src/globals.ts
  projects/js-toolkit/packages/npm-bundler/src/index.ts
  projects/js-toolkit/packages/npm-bundler/src/liferay-npm-bundler.config.ts
  projects/js-toolkit/packages/npm-bundler/src/report/__tests__/__snapshots__/index.test.ts.snap
  projects/js-toolkit/packages/npm-bundler/src/report/__tests__/index.test.ts
  projects/js-toolkit/packages/npm-bundler/src/report/html.ts
  projects/js-toolkit/packages/npm-bundler/src/report/index.ts
  projects/js-toolkit/packages/npm-bundler/src/report/logger.ts
  projects/js-toolkit/packages/npm-bundler/src/transform/js/operation/adaptStaticURLsAtRuntime.ts
  projects/js-toolkit/packages/npm-bundler/src/transform/js/operation/exportModuleAsFunction.ts
  projects/js-toolkit/packages/npm-bundler/src/transform/js/operation/namespaceWepbackJsonp.ts
  projects/js-toolkit/packages/npm-bundler/src/transform/js/operation/transformImports.ts
  projects/js-toolkit/packages/npm-bundler/src/transform/text/operation/__tests__/replace.test.ts
  projects/js-toolkit/packages/npm-bundler/src/transform/text/operation/replace.ts
  projects/js-toolkit/packages/npm-bundler/src/util/abort.ts
  projects/js-toolkit/packages/npm-bundler/src/util/files.ts
  projects/js-toolkit/packages/npm-bundler/src/util/log.ts
  projects/js-toolkit/packages/npm-bundler/src/util/renderer.ts
  projects/js-toolkit/packages/npm-bundler/src/util/run.ts
  projects/js-toolkit/packages/npm-bundler/src/webpack/loader/imports-loader.ts
  projects/js-toolkit/packages/npm-bundler/tsconfig.json
  projects/js-toolkit/qa/samples/packages/react-app/package.json
  projects/js-toolkit/scripts/qa/resources.js
Labels: 3.x, chore, js-toolkit

#155 docs(js-tookit): update CHANGELOG files for first named scope releases
  projects/js-toolkit/packages/generator-js/CHANGELOG.md
  projects/js-toolkit/packages/js-toolkit-core/CHANGELOG.md
  projects/js-toolkit/packages/js-toolkit-scripts/CHANGELOG.md
  projects/js-toolkit/packages/npm-bridge-generator/CHANGELOG.md
  projects/js-toolkit/packages/npm-bundler/CHANGELOG.md
Labels: 3.x, docs, js-toolkit

#156 fix(js-toolkit): fix various integration problems with DXP
  projects/js-toolkit/packages/generator-js/package.json
  projects/js-toolkit/packages/js-toolkit-core/package.json
  projects/js-toolkit/packages/js-toolkit-scripts/package.json
  projects/js-toolkit/packages/npm-bridge-generator/package.json
  projects/js-toolkit/packages/npm-bundler/package.json
  projects/js-toolkit/packages/npm-bundler/src/bundle/configure.ts
  projects/js-toolkit/packages/npm-bundler/src/globals.ts
Labels: 3.x, fix, js-toolkit

#158 chore(js-toolkit): update release process docs and configuration
  projects/js-toolkit/.yarnrc
  projects/js-toolkit/CONTRIBUTING.md
Labels: 3.x, chore, js-toolkit

#159 docs(js-toolkit): remove another stale line from the documentation
  projects/js-toolkit/CONTRIBUTING.md
Labels: 3.x, docs, js-toolkit

#160 fix(js-toolkit): unbreak fragments toolkit
  projects/js-toolkit/packages/npm-bundler/src/bundle/configure.ts
Labels: 3.x, fix, js-toolkit

#196 feat(changelog-generator): add --major, --minor etc convenience switches
  projects/npm-tools/packages/changelog-generator/src/console.js
  projects/npm-tools/packages/changelog-generator/src/git.js
  projects/npm-tools/packages/changelog-generator/src/index.js
  projects/npm-tools/packages/changelog-generator/src/matchOption.js
  projects/npm-tools/packages/changelog-generator/src/printBanner.js
  projects/npm-tools/packages/changelog-generator/src/readYarnrc.js
Labels: changelog-generator, feat, npm-tools

#201 chore(amd-loader): remove an unnecessary line from the .gitignore
  projects/amd-loader/.gitignore
Labels: chore

#202 chore(amd-loader): prepare for releases via js-publish
  projects/amd-loader/package.json
Labels: amd-loader, chore

#204 docs(amd-loader): add changelog
  projects/amd-loader/CHANGELOG.md
Labels: amd-loader, docs

#200 chore(amd-loader): prepare to release under @liferay named scope
  maintenance/projects/js-toolkit/docs/How-to-create-mixed-Java-JavaScript-projects.md
  maintenance/projects/js-toolkit/docs/How-to-deploy-npm-packages-to-Liferay.md
  maintenance/projects/js-toolkit/docs/How-to-use-liferay-npm-bundler.md
  projects/amd-loader/package.json
  projects/js-toolkit/packages/npm-bundler/src/liferay-npm-bundler.config.ts
  projects/npm-tools/packages/npm-bundler-preset-liferay-dev/config.json
Labels: 2.x, 3.x, amd-loader, chore, js-toolkit, npm-bundler-preset-liferay-dev, npm-tools

#205 docs(monorepo): make CONTRIBUTING.md docs more consistent
  projects/amd-loader/CONTRIBUTING.md
  projects/eslint-config/CONTRIBUTING.md
  projects/js-toolkit/CONTRIBUTING.md
  projects/npm-tools/CONTRIBUTING.md
Labels: 3.x, amd-loader, docs, eslint-config, js-toolkit, npm-tools

#207 chore(npm-scripts): update preset dependency to v4.6.5
  projects/npm-tools/packages/npm-scripts/package.json
Labels: chore, npm-scripts, npm-tools

#206 docs(monorepo): add example of using version range with `npm deprecate`
  CONTRIBUTING/migrating-an-npm-package-to-the-liferay-named-scope.md
Labels: docs

#210 test(monorepo): consistently run local tests scoped to project/package
  projects/amd-loader/package.json
  projects/eslint-config/package.json
  projects/js-toolkit/package.json
  projects/npm-tools/package.json
  projects/npm-tools/packages/npm-scripts/package.json
Labels: 3.x, amd-loader, eslint-config, js-toolkit, npm-scripts, npm-tools, test

#209 fix(changelog-generator): match `yarn version` behavior more closely
  projects/npm-tools/packages/changelog-generator/bin/liferay-changelog-generator.js
  projects/npm-tools/packages/changelog-generator/package.json
  projects/npm-tools/packages/changelog-generator/src/index.js
  projects/npm-tools/packages/changelog-generator/src/readYarnrc.js
  projects/npm-tools/packages/changelog-generator/test/index.js
Labels: changelog-generator, fix, npm-tools

#211 feat(monorepo): add liferay-workspace-scripts
  CONTRIBUTING/importing-a-project.md
  LICENSE.md
  package.json
  projects/amd-loader/package.json
  projects/eslint-config/package.json
  projects/js-toolkit/package.json
  projects/js-toolkit/packages/generator-js/package.json
  projects/js-toolkit/packages/js-toolkit-core/package.json
  projects/js-toolkit/packages/js-toolkit-scripts/package.json
  projects/js-toolkit/packages/npm-bridge-generator/package.json
  projects/js-toolkit/packages/npm-bundler/package.json
  projects/npm-tools/packages/changelog-generator/package.json
  projects/npm-tools/packages/jest-junit-reporter/package.json
  projects/npm-tools/packages/js-insights/package.json
  projects/npm-tools/packages/js-publish/package.json
  projects/npm-tools/packages/npm-bundler-preset-liferay-dev/package.json
  projects/npm-tools/packages/npm-scripts/package.json
  support/packages/workspace-scripts/README.md
  support/packages/workspace-scripts/bin/liferay-workspace-scripts.js
  support/packages/workspace-scripts/package.json
  support/packages/workspace-scripts/src/index.js
Labels: 3.x, amd-loader, changelog-generator, eslint-config, feat, jest-junit-reporter, js-insights, js-publish, js-toolkit, npm-bundler-preset-liferay-dev, npm-scripts, npm-tools

#212 refactor(js-publish): make package check less strict
  projects/npm-tools/packages/js-publish/src/index.js
Labels: js-publish, npm-tools, refactor

#220 refactor: prepend './' to binary scripts path
  projects/js-toolkit/packages/js-toolkit-scripts/package.json
  projects/js-toolkit/packages/npm-bridge-generator/package.json
  projects/js-toolkit/packages/npm-bundler/package.json
Labels: 3.x, js-toolkit
