Repository liferay/liferay-frontend-projects, pull requests merged in 2020-11, with the labels that each got.

#219 feat(js-toolkit): convert package.json version classfier to OSGi version classifer
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler/src/jar/__tests__/manifest.test.js
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler/src/jar/manifest.ts
Labels: 2.x, js-toolkit

#221 feat(npm-scripts): fix storybook
  projects/npm-tools/packages/npm-scripts/src/scripts/storybook.js
  projects/npm-tools/packages/npm-scripts/src/storybook/README.md
  projects/npm-tools/packages/npm-scripts/src/storybook/config.js
  projects/npm-tools/packages/npm-scripts/src/storybook/middleware.js
Labels: npm-scripts, npm-tools

#227 feat: upgrade sample project to Angular 10
  maintenance/projects/js-toolkit/packages/generator-liferay-js/src/target-angular-portlet/dependencies.json
  maintenance/projects/js-toolkit/packages/generator-liferay-js/src/target-angular-portlet/templates/src/app/dynamic.loader.ts.ejs
  maintenance/projects/js-toolkit/packages/generator-liferay-js/src/target-angular-portlet/templates/src/polyfills.ts.ejs
Labels: 2.x, js-toolkit

#232 docs(js-toolkit): clean some cruft out of changelog
  maintenance/projects/js-toolkit/CHANGELOG.md
Labels: 2.x, docs, js-toolkit

#234 feat(npm-scripts): add jest mock for createRange and createContextualFragment
  projects/npm-tools/packages/npm-scripts/src/jest/setup.js
Labels: npm-scripts, npm-tools

#236 feat: support for webpack 5 in npm-scripts/bundler
  maintenance/projects/js-toolkit/qa/samples/packages/alias-test/package.json
  maintenance/projects/js-toolkit/qa/samples/packages/loaders/package.json
  package.json
  projects/amd-loader/bin/build-loader.js
  projects/amd-loader/webpack.config.js
  projects/js-toolkit/packages/js-toolkit-core/package.json
  projects/js-toolkit/packages/js-toolkit-core/src/project/Probe.ts
  projects/js-toolkit/packages/npm-bundler/package.json
  projects/js-toolkit/packages/npm-bundler/src/adapt/bundler-project/index.ts
  projects/js-toolkit/packages/npm-bundler/src/bundle/index.ts
  projects/js-toolkit/resources/devtools/link-js-toolkit/util.js
  projects/npm-tools/packages/npm-scripts/package.json
  projects/npm-tools/packages/npm-scripts/src/index.js
  yarn.lock
Labels: 2.x, 3.x, amd-loader, js-toolkit, npm-scripts, npm-tools

#242 chore: fix yarn.lock
  projects/js-toolkit/package.json
  projects/js-toolkit/packages/generator-js/package.json
  projects/js-toolkit/packages/js-toolkit-scripts/package.json
  projects/js-toolkit/scripts/check-deps.js
  projects/js-toolkit/scripts/level-deps.js
  yarn.lock
Labels: 3.x, js-toolkit

#241 feat(monorepo): complain if lockfile is not fresh
  .github/workflows/ci.yml
Labels: feat

#239 docs(npm-scripts): add instructions on how to integrate releases
  projects/npm-tools/CONTRIBUTING.md
Labels: docs, npm-tools

#244 fix(npm-scripts): webpack watch feature
  projects/npm-tools/packages/npm-scripts/src/scripts/webpack.js
  projects/npm-tools/packages/npm-scripts/test/scripts/webpack.js
Labels: fix, npm-scripts, npm-tools

#233 feat(npm-scripts): add minification to build process
  projects/npm-tools/packages/npm-scripts/package.json
  projects/npm-tools/packages/npm-scripts/src/config/terser.config.js
  projects/npm-tools/packages/npm-scripts/src/index.js
  projects/npm-tools/packages/npm-scripts/src/jsp/README.md
  projects/npm-tools/packages/npm-scripts/src/jsp/formatJSP.js
  projects/npm-tools/packages/npm-scripts/src/jsp/lintJSP.js
  projects/npm-tools/packages/npm-scripts/src/jsp/padLines.js
  projects/npm-tools/packages/npm-scripts/src/jsp/processJSP.js
  projects/npm-tools/packages/npm-scripts/src/presets/standard/index.js
  projects/npm-tools/packages/npm-scripts/src/scripts/build.js
  projects/npm-tools/packages/npm-scripts/src/scripts/format.js
  projects/npm-tools/packages/npm-scripts/src/scripts/prettier.js
  projects/npm-tools/packages/npm-scripts/src/utils/getMergedConfig.js
  projects/npm-tools/packages/npm-scripts/src/utils/getPaths.js
  projects/npm-tools/packages/npm-scripts/src/utils/minify.js
  projects/npm-tools/packages/npm-scripts/test/jsp/formatJSP.js
  projects/npm-tools/packages/npm-scripts/test/jsp/lintJSP.js
  projects/npm-tools/packages/npm-scripts/test/jsp/padLines.js
  projects/npm-tools/packages/npm-scripts/test/jsp/processJSP.js
  projects/npm-tools/packages/npm-scripts/test/prettier/index.js
  projects/npm-tools/packages/npm-scripts/test/scripts/format.js
  projects/npm-tools/packages/npm-scripts/test/utils/minify.js
  yarn.lock
Labels: feat, npm-scripts, npm-tools

#252 feat(npm-scripts): add webpack federation support
  projects/npm-tools/packages/npm-scripts/__fixtures__/utils/parseBnd/bnd.bnd
  projects/npm-tools/packages/npm-scripts/__fixtures__/utils/tweakWebpackConfig/bnd.bnd
  projects/npm-tools/packages/npm-scripts/__fixtures__/utils/tweakWebpackConfig/package.json
  projects/npm-tools/packages/npm-scripts/package.json
  projects/npm-tools/packages/npm-scripts/src/config/npm-bundler.json
  projects/npm-tools/packages/npm-scripts/src/index.js
  projects/npm-tools/packages/npm-scripts/src/presets/standard/index.js
  projects/npm-tools/packages/npm-scripts/src/scripts/build.js
  projects/npm-tools/packages/npm-scripts/src/scripts/webpack.js
  projects/npm-tools/packages/npm-scripts/src/utils/createTempFile.js
  projects/npm-tools/packages/npm-scripts/src/utils/mergeBabelLoaderOptions.js
  projects/npm-tools/packages/npm-scripts/src/utils/parseBnd.js
  projects/npm-tools/packages/npm-scripts/src/utils/runBundler.js
  projects/npm-tools/packages/npm-scripts/src/utils/tweakWebpackConfig.js
  projects/npm-tools/packages/npm-scripts/src/utils/withTempFile.js
  projects/npm-tools/packages/npm-scripts/support/getFixture.js
  projects/npm-tools/packages/npm-scripts/support/getFixturePath.js
  projects/npm-tools/packages/npm-scripts/test/jsp/lintJSP.js
  projects/npm-tools/packages/npm-scripts/test/scripts/lint.js
  projects/npm-tools/packages/npm-scripts/test/scripts/theme.js
  projects/npm-tools/packages/npm-scripts/test/scripts/webpack.js
  projects/npm-tools/packages/npm-scripts/test/utils/findRoot.js
  projects/npm-tools/packages/npm-scripts/test/utils/getDXPVersion.js
  projects/npm-tools/packages/npm-scripts/test/utils/getMergedConfig.js
  projects/npm-tools/packages/npm-scripts/test/utils/mergeBabelLoaderOptions.js
  projects/npm-tools/packages/npm-scripts/test/utils/parseBnd.js
  projects/npm-tools/packages/npm-scripts/test/utils/tweakWebpackOptions.js
Labels: npm-scripts, npm-tools
