Repository liferay/liferay-frontend-projects, pull requests merged in 2020-12, with the labels that each got.

#254 feat(npm-scripts): add `@function` and `@return` to list of stylelint at-rules
  projects/npm-tools/packages/npm-scripts/src/config/stylelint.json
Labels: feat, npm-scripts, npm-tools

#259 fix(npm-scripts): avoid unhandled promise rejection
  projects/npm-tools/packages/npm-scripts/src/index.js
Labels: npm-scripts, npm-tools

#251 fix(npm-scripts): provide (inactive-by-default) tooling for formatting JS in JSP inside build
  projects/npm-tools/packages/npm-scripts/src/jsp/padLines.js
  projects/npm-tools/packages/npm-scripts/src/utils/minify.js
  projects/npm-tools/packages/npm-scripts/test/jsp/padLines.js
  projects/npm-tools/packages/npm-scripts/test/utils/minify.js
Labels: fix, npm-scripts, npm-tools

#261 docs(monorepo): fix minor typos
  CONTRIBUTING/importing-a-project.md
Labels: docs

#276 chore(monorepo): clean up orphaned Travis config files
  maintenance/projects/js-themes-toolkit-v8-x/.travis.yml
  maintenance/projects/js-themes-toolkit-v9-x/.travis.yml
  projects/js-themes-toolkit/.travis.yml
  projects/js-toolkit/.travis.yml
Labels: chore

#257 feat(js-toolkit): RequireCapability: convert package.json version classfier to OSGi version classifer
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler/src/jar/index.js
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler/src/jar/manifest.ts
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler/src/jar/osgi.js
Labels: 2.x, js-toolkit

#278 style(js-toolkit): fix formatting
  maintenance/projects/js-toolkit/lerna.json
Labels: 2.x, js-toolkit, style

#279 chore(js-themes-tookit): clean up irrelevant .github directories
  maintenance/projects/js-themes-toolkit-v8-x/.github/semantic.yml
  maintenance/projects/js-themes-toolkit-v9-x/.github/semantic.yml
  projects/js-themes-toolkit/.github/dependabot.yml
  projects/js-themes-toolkit/.github/semantic.yml
Labels: chore

#281 refactor(js-themes-toolikt): hoist lint and formatting config to repo root
  .eslintrc.js
  maintenance/projects/js-themes-toolkit-v8-x/.eslintignore
  maintenance/projects/js-themes-toolkit-v8-x/.eslintrc.js
  maintenance/projects/js-themes-toolkit-v8-x/package.json
  maintenance/projects/js-themes-toolkit-v9-x/.eslintignore
  maintenance/projects/js-themes-toolkit-v9-x/.eslintrc.js
  maintenance/projects/js-themes-toolkit-v9-x/jest.js
  maintenance/projects/js-themes-toolkit-v9-x/package.json
  projects/js-themes-toolkit/.eslintrc.js
  projects/js-themes-toolkit/jest.js
Labels: 10.x, 8.x, 9.x, js-themes-toolkit, refactor

#284 feat: extend webpack federation support
  projects/npm-tools/packages/npm-scripts/src/scripts/build.js
  projects/npm-tools/packages/npm-scripts/src/scripts/webpack.js
  projects/npm-tools/packages/npm-scripts/src/utils/tweakWebpackConfig.js
Labels: npm-scripts, npm-tools

#283 docs(js-themes-toolkit): update links to point at new repo
  maintenance/projects/js-themes-toolkit-v8-x/CONTRIBUTING.md
  maintenance/projects/js-themes-toolkit-v8-x/README.md
  maintenance/projects/js-themes-toolkit-v9-x/CONTRIBUTING.md
  maintenance/projects/js-themes-toolkit-v9-x/README.md
  maintenance/projects/js-themes-toolkit-v9-x/packages/generator-liferay-theme/lib/util.js
  projects/js-themes-toolkit/CONTRIBUTING.md
  projects/js-themes-toolkit/README.md
Labels: 10.x, 8.x, 9.x, docs, js-themes-toolkit

#285 chore(js-themes-toolkit): hoist v8 devDependencies to workspace root
  maintenance/projects/js-themes-toolkit-v8-x/package.json
  maintenance/projects/js-themes-toolkit-v8-x/packages/generator-liferay-theme/generators/app/__tests__/index.test.js
  maintenance/projects/js-themes-toolkit-v8-x/packages/generator-liferay-theme/package.json
  maintenance/projects/js-themes-toolkit-v8-x/packages/liferay-theme-deps-7.0/package.json
  maintenance/projects/js-themes-toolkit-v8-x/packages/liferay-theme-deps-7.1/package.json
  maintenance/projects/js-themes-toolkit-v8-x/packages/liferay-theme-tasks/package.json
  maintenance/projects/js-themes-toolkit-v8-x/yarn.lock
Labels: 8.x, chore, js-themes-toolkit

#286 chore(js-themes-toolkit): hoist v9 devDependencies to workspace root
  maintenance/projects/js-themes-toolkit-v9-x/package.json
  maintenance/projects/js-themes-toolkit-v9-x/packages/generator-liferay-theme/package.json
  maintenance/projects/js-themes-toolkit-v9-x/packages/liferay-theme-tasks/package.json
  maintenance/projects/js-themes-toolkit-v9-x/yarn.lock
Labels: 9.x, chore, js-themes-toolkit

#287 chore(js-themes-toolkit): hoist v10 devDependencies to workspace root
  package.json
  projects/js-themes-toolkit/packages/generator-liferay-theme/package.json
  projects/js-themes-toolkit/packages/liferay-theme-tasks/package.json
  yarn.lock
Labels: 10.x, chore, js-themes-toolkit

#288 fix(js-themes-toolkit): silence noisy yarn warning
  projects/js-themes-toolkit/package.json
Labels: 10.x, fix, js-themes-toolkit

#289 test(monorepo): adjust CI coverage
  .github/workflows/ci.yml
  maintenance/projects/js-themes-toolkit-v8-x/packages/generator-liferay-theme/lib/__tests__/layout_creator.test.js
  maintenance/projects/js-themes-toolkit-v9-x/packages/generator-liferay-theme/lib/__tests__/LayoutCreator.test.js
  maintenance/projects/js-toolkit/package.json
Labels: 2.x, 8.x, 9.x, js-themes-toolkit, js-toolkit, refactor, test

#258 fix(js-toolkit): let compression level be configured
  maintenance/projects/js-toolkit/docs/.npmbundlerrc-file-reference.md
  maintenance/projects/js-toolkit/packages/liferay-npm-build-tools-common/src/project/jar.ts
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler/src/jar/index.js
Labels: 2.x, js-toolkit

#294 style(js-toolkit): fix formatting
  maintenance/projects/js-toolkit/lerna.json
Labels: 2.x, js-toolkit, style

#292 chore(js-themes-toolkit): make final tweaks for monorepo releases
  maintenance/projects/js-themes-toolkit-v8-x/.yarnrc
  maintenance/projects/js-themes-toolkit-v8-x/CONTRIBUTING.md
  maintenance/projects/js-themes-toolkit-v8-x/package.json
  maintenance/projects/js-themes-toolkit-v9-x/.yarnrc
  maintenance/projects/js-themes-toolkit-v9-x/CONTRIBUTING.md
  maintenance/projects/js-themes-toolkit-v9-x/package.json
Labels: 8.x, 9.x, chore, js-themes-toolkit

#297 chore(monorepo): freshen lockfile
  yarn.lock
Labels: chore

#295 feat(js-toolkit): teach publish.sh to revert unwanted formatting changes
  maintenance/projects/js-toolkit/scripts/publish.sh
Labels: 2.x, feat, js-toolkit

#298 fix(npm-scripts): support scoped packages correctly
  projects/npm-tools/packages/npm-scripts/src/scripts/createBridges.js
Labels: npm-scripts, npm-tools

#300 fix(js-toolkit): unable to deploy to 7.1 due to InvalidSyntaxException
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler/src/jar/__tests__/manifest.test.js
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler/src/jar/manifest.ts
Labels: 2.x, js-toolkit

#299 perf(npm-scripts): add instrumentation for build (etc) performance
  projects/npm-tools/packages/npm-scripts/src/index.js
  projects/npm-tools/packages/npm-scripts/src/scripts/build.js
  projects/npm-tools/packages/npm-scripts/src/scripts/prettier.js
  projects/npm-tools/packages/npm-scripts/src/utils/ProcessExitError.js
  projects/npm-tools/packages/npm-scripts/src/utils/instrument.js
  projects/npm-tools/packages/npm-scripts/src/utils/runBridge.js
  projects/npm-tools/packages/npm-scripts/support/generateTimingsReport.js
Labels: npm-scripts, npm-tools

#301 feat(js-themes-toolkit): expose r2 API
  projects/js-themes-toolkit/packages/liferay-theme-tasks/theme/__tests__/index.test.js
  projects/js-themes-toolkit/packages/liferay-theme-tasks/theme/index.js
Labels: 10.x, feat, js-themes-toolkit

#302 chore(js-themes-toolkit): restore missing license information
  .eslintignore
  .prettierignore
  maintenance/projects/js-themes-toolkit-v9-x/packages/liferay-theme-tasks/lib/r2/liferay-r2/.eslintrc.js
  maintenance/projects/js-themes-toolkit-v9-x/packages/liferay-theme-tasks/lib/r2/liferay-r2/__tests__/index.test.js
  maintenance/projects/js-themes-toolkit-v9-x/packages/liferay-theme-tasks/lib/r2/liferay-r2/copyright.js
  maintenance/projects/js-themes-toolkit-v9-x/packages/liferay-theme-tasks/lib/r2/liferay-r2/index.js
  projects/js-themes-toolkit/packages/liferay-theme-tasks/lib/r2/liferay-r2/.eslintrc.js
  projects/js-themes-toolkit/packages/liferay-theme-tasks/lib/r2/liferay-r2/__tests__/index.test.js
  projects/js-themes-toolkit/packages/liferay-theme-tasks/lib/r2/liferay-r2/copyright.js
  projects/js-themes-toolkit/packages/liferay-theme-tasks/lib/r2/liferay-r2/index.js
Labels: 10.x, 9.x, chore, js-themes-toolkit

#303 chore(npm-scripts): depend on latest version of liferay-theme-tasks
  projects/npm-tools/packages/npm-scripts/package.json
  yarn.lock
Labels: chore, npm-scripts, npm-tools

#309 chore(monorepo): use "dependencies" label instead of "dev-dependency"
  .github/ISSUE_TEMPLATE/devDependency.md
  README.md
Labels: chore

#310 chore: set up autolabeling of "docs" and "guidelines" changes
  .github/labeler.yml
Labels: chore

#365 feat(js-themes-toolkit): adds js minification step (Fixes #364)
  projects/js-themes-toolkit/packages/liferay-theme-tasks/lib/project/options.js
  projects/js-themes-toolkit/packages/liferay-theme-tasks/package.json
  projects/js-themes-toolkit/packages/liferay-theme-tasks/theme/tasks/build/index.js
  yarn.lock
Labels: 10.x, js-themes-toolkit

#371 chore(npm-scripts): update liferay-theme-tasks dependency to v10.2.0
  projects/npm-tools/packages/npm-scripts/package.json
Labels: chore, fix, npm-scripts, npm-tools

#372 chore(monorepo): update CI badges
  README.md
  guidelines/README.md
  guidelines/general/creating_a_new_npm_package.md
  maintenance/projects/js-toolkit/README.md
  projects/amd-loader/README.md
  projects/js-toolkit/README.md
Labels: 2.x, 3.x, amd-loader, chore, docs, guidelines, js-toolkit

#373 feat(guidelines): mitigate problems with link checker rate limiting
  guidelines/support/checkLinks.js
Labels: feat, guidelines

#374 refactor(guidelines): use a better name for CI job
  .github/workflows/guidelines.yml
Labels: refactor

#375 fix: stabilize liferay-portal build until a new webpack release arrives
  projects/npm-tools/packages/npm-scripts/src/utils/createBridges.js
  projects/npm-tools/packages/npm-scripts/src/utils/createFederationConfig.js
Labels: npm-scripts, npm-tools
