Repository liferay/liferay-frontend-projects, pull requests merged in 2021-12, with the labels that each got.

#781 fix(eslint-plugin): update aui rules to only error if used outside of an aui module
  projects/eslint-plugin/rules/aui/lib/rules/no-all.js
  projects/eslint-plugin/rules/aui/lib/rules/no-array.js
  projects/eslint-plugin/rules/aui/lib/rules/no-each.js
  projects/eslint-plugin/rules/aui/lib/rules/no-node.js
  projects/eslint-plugin/rules/aui/lib/rules/no-one.js
  projects/eslint-plugin/rules/aui/lib/utils/checkAUIScope.js
  projects/eslint-plugin/rules/aui/tests/lib/rules/no-node.js
Labels: eslint-plugin

#787 fix(js-toolkit): make QA tests pass
  projects/js-toolkit/packages/liferay-cli/src/dependencies.json
  projects/js-toolkit/qa/bundler3-portlet/.gitignore
  projects/js-toolkit/qa/bundler3-portlet/.npmbuildrc
  projects/js-toolkit/qa/bundler3-portlet/README.md
  projects/js-toolkit/qa/bundler3-portlet/features/localization/Language.properties
  projects/js-toolkit/qa/bundler3-portlet/liferay-npm-bundler.config.js
  projects/js-toolkit/qa/bundler3-portlet/package.json
  projects/js-toolkit/qa/bundler3-portlet/src/App.css
  projects/js-toolkit/qa/bundler3-portlet/src/App.js
  projects/js-toolkit/qa/bundler3-portlet/src/index.css
  projects/js-toolkit/qa/bundler3-portlet/src/index.js
  projects/js-toolkit/qa/bundler3-portlet/src/logo.svg
  projects/js-toolkit/scripts/clean.js
  projects/js-toolkit/scripts/qa/index.js
Labels: docs, js-toolkit, 3.x

#790 feat(npm-scripts): add path to global type definition file in liferay-portal
  projects/npm-tools/packages/npm-scripts/src/typescript/configureTypeScript.js
Labels: npm-scripts, npm-tools

#793 fix: don't break deployment for shared bundle projects
  maintenance/projects/js-toolkit/packages/liferay-npm-build-tools-common/src/project/__tests__/__fixtures__/project/empty-with-portlet/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-build-tools-common/src/project/__tests__/index.test.js
  maintenance/projects/js-toolkit/packages/liferay-npm-build-tools-common/src/project/jar.ts
  projects/js-toolkit/docs/reference/dot-npmbundlerrc.md
Labels: docs, js-toolkit, 2.x, 3.x

#800 feat(generator-liferay-js): remove @liferay/cli spam
  maintenance/projects/js-toolkit/packages/generator-liferay-js/src/adapt/index.js
  maintenance/projects/js-toolkit/packages/generator-liferay-js/src/app/index.js
  maintenance/projects/js-toolkit/packages/generator-liferay-js/src/utils/index.js
Labels: js-toolkit, 2.x

#794 chore(github-to-jira-synchronization): Add readme with information about the synchronization tool
  support/github-to-jira-synchronization/README.md
  support/github-to-jira-synchronization/clay.md
  support/github-to-jira-synchronization/images/gh_clay_edit_connection.png
  support/github-to-jira-synchronization/images/gh_clay_edit_trigger.png
  support/github-to-jira-synchronization/images/gh_connections.png
  support/github-to-jira-synchronization/images/gh_frontend_projects_edit_connection.png
  support/github-to-jira-synchronization/images/gh_frontend_projects_edit_trigger.png
  support/github-to-jira-synchronization/images/jira_clay_edit_trigger.png
  support/github-to-jira-synchronization/images/jira_edit_connection.png
  support/github-to-jira-synchronization/images/jira_frontend_projects_edit_connection.png
  support/github-to-jira-synchronization/images/jira_frontend_projects_edit_trigger.png
  support/github-to-jira-synchronization/images/jira_go_to_remote.png
  support/github-to-jira-synchronization/liferay-frontend-projects.md
  support/packages/github-to-jira-synchronization-tool/README.md
Labels: docs
