Repository liferay/liferay-frontend-projects, pull requests merged in 2021-04, with the labels that each got.

#478 feat(npm-scripts): manage TS type artifacts
  .prettierignore
  projects/npm-tools/packages/npm-scripts/.gitignore
  projects/npm-tools/packages/npm-scripts/README.md
  projects/npm-tools/packages/npm-scripts/__fixtures__/typescript/modules/apps/frontend-js/frontend-js-clay-sample-web/package.json
  projects/npm-tools/packages/npm-scripts/__fixtures__/typescript/modules/apps/frontend-js/frontend-js-react-web/package.json
  projects/npm-tools/packages/npm-scripts/__fixtures__/typescript/modules/apps/frontend-js/frontend-js-state-web/package.json
  projects/npm-tools/packages/npm-scripts/__fixtures__/typescript/modules/apps/remote-app/remote-app-client-js/package.json
  projects/npm-tools/packages/npm-scripts/__fixtures__/typescript/modules/yarn.lock
  projects/npm-tools/packages/npm-scripts/jest.config.js
  projects/npm-tools/packages/npm-scripts/src/config/tsconfig-base.json
  projects/npm-tools/packages/npm-scripts/src/index.js
  projects/npm-tools/packages/npm-scripts/src/scripts/build.js
  projects/npm-tools/packages/npm-scripts/src/scripts/check/preflight.js
  projects/npm-tools/packages/npm-scripts/src/scripts/lint.js
  projects/npm-tools/packages/npm-scripts/src/scripts/types.js
  projects/npm-tools/packages/npm-scripts/src/typescript/README.md
  projects/npm-tools/packages/npm-scripts/src/typescript/configureTypeScript.js
  projects/npm-tools/packages/npm-scripts/src/typescript/getTypeScriptBuildOrder.js
  projects/npm-tools/packages/npm-scripts/src/typescript/getTypeScriptDependencyGraph.js
  projects/npm-tools/packages/npm-scripts/src/typescript/runTSC.js
  projects/npm-tools/packages/npm-scripts/src/utils/color.js
  projects/npm-tools/packages/npm-scripts/src/utils/getJestModuleNameMapper.js
  projects/npm-tools/packages/npm-scripts/src/utils/getWorkspaces.js
  projects/npm-tools/packages/npm-scripts/src/utils/stringify.js
  projects/npm-tools/packages/npm-scripts/test/sass/build.js
  projects/npm-tools/packages/npm-scripts/test/typescript/configureTypeScript.js
  projects/npm-tools/packages/npm-scripts/test/typescript/getTypeScriptBuildOrder.js
  projects/npm-tools/packages/npm-scripts/test/utils/stringify.js
Labels: docs, feat, npm-scripts, npm-tools

#482 docs(npm-scripts): update explanation of `tsconfig.tsbuildinfo`
  projects/npm-tools/packages/npm-scripts/src/typescript/README.md
Labels: docs, npm-scripts, npm-tools

#484 feat(npm-scripts): allow format/lint to run without package.json
  projects/npm-tools/packages/npm-scripts/src/scripts/format.js
  projects/npm-tools/packages/npm-scripts/src/scripts/lint.js
  projects/npm-tools/packages/npm-scripts/src/utils/inCurrentWorkingDirectory.js
  projects/npm-tools/packages/npm-scripts/test/scripts/format.js
Labels: feat, npm-scripts, npm-tools

#486 fix(npm-scripts): deal with symlinks in `inCurrentWorkingDirectory()`
  projects/npm-tools/packages/npm-scripts/src/utils/inCurrentWorkingDirectory.js
Labels: fix, npm-scripts, npm-tools

#487 feat(npm-scripts): format generated `.d.ts` files
  projects/npm-tools/packages/npm-scripts/src/index.js
  projects/npm-tools/packages/npm-scripts/src/scripts/build.js
  projects/npm-tools/packages/npm-scripts/src/scripts/check.js
  projects/npm-tools/packages/npm-scripts/src/scripts/check/preflight.js
  projects/npm-tools/packages/npm-scripts/src/scripts/fix.js
  projects/npm-tools/packages/npm-scripts/src/scripts/types.js
  projects/npm-tools/packages/npm-scripts/src/typescript/configureTypeScript.js
  projects/npm-tools/packages/npm-scripts/src/typescript/runTSC.js
  projects/npm-tools/packages/npm-scripts/test/typescript/configureTypeScript.js
Labels: feat, npm-scripts, npm-tools

#485 chore: document and enhance link-js-toolkit tool
  maintenance/projects/js-toolkit/CONTRIBUTING.md
  maintenance/projects/js-toolkit/resources/devtools/link-js-toolkit/setup-yarn-workspace.js
Labels: 2.x, docs, js-toolkit

#489 test(npm-scripts): avoid unhandled promise rejection in tests
  projects/npm-tools/packages/npm-scripts/test/scripts/lint.js
Labels: npm-scripts, npm-tools, test

#488 docs(guidelines): document some additional TS resources
  guidelines/general/typescript.md
  projects/npm-tools/packages/npm-scripts/src/typescript/README.md
Labels: docs, guidelines, npm-scripts, npm-tools

#490 feat(npm-scripts)!: remove webpack federation support
  projects/npm-tools/packages/npm-scripts/src/scripts/build.js
  projects/npm-tools/packages/npm-scripts/src/utils/getMergedConfig.js
  projects/npm-tools/packages/npm-scripts/src/utils/getProjectMainModuleFilePath.js
  projects/npm-tools/packages/npm-scripts/src/webpack/bundlerNamespace.js
  projects/npm-tools/packages/npm-scripts/src/webpack/createBridges.js
  projects/npm-tools/packages/npm-scripts/src/webpack/createFederationConfig.js
  projects/npm-tools/packages/npm-scripts/src/webpack/getBridgeExportName.js
  projects/npm-tools/packages/npm-scripts/src/webpack/getNamespacedVersionedPackageName.js
  projects/npm-tools/packages/npm-scripts/src/webpack/tweakWebpackConfig.js
  projects/npm-tools/packages/npm-scripts/src/webpack/writeBridge.js
  projects/npm-tools/packages/npm-scripts/src/webpack/writeLibInitEntryPoint.js
  projects/npm-tools/packages/npm-scripts/src/webpack/writeWebpackFederationEntryPoint.js
  projects/npm-tools/packages/npm-scripts/test/webpack/tweakWebpackConfig.js
Labels: npm-scripts, npm-tools

#449 docs(guidelines): add recommendations on state management for React
  guidelines/dxp/react_state_management.md
Labels: docs, guidelines

#493 docs(guidelines): move repo sync documentation into Confluence
  guidelines/dxp/code_review.md
Labels: docs, guidelines

#494 docs(guidelines): fix broken image links
  guidelines/dxp/code_review.md
  guidelines/dxp/debugging.md
Labels: docs, guidelines

#496 fix(npm-scripts): don't post-process TypeScript if there is no TS
  projects/npm-tools/packages/npm-scripts/src/typescript/runTSC.js
Labels: fix, npm-scripts, npm-tools

#499 docs(guidelines): fix various small typos in react_state_management.md
  guidelines/dxp/react_state_management.md
Labels: docs, guidelines

#500 feat(npm-scripts)!: enforce use of `@liferay/` named scope
  projects/npm-tools/packages/npm-scripts/src/config/npmscripts.config.js
  projects/npm-tools/packages/npm-scripts/src/scripts/check.js
  projects/npm-tools/packages/npm-scripts/src/scripts/check/preflight.js
  projects/npm-tools/packages/npm-scripts/src/scripts/check/preflight/checkConfigFileNames.js
  projects/npm-tools/packages/npm-scripts/src/scripts/check/preflight/checkPackageJSONFiles.js
  projects/npm-tools/packages/npm-scripts/src/scripts/check/preflight/checkTypeScriptTypeArtifacts.js
Labels: feat, npm-scripts, npm-tools

#501 chore: update README.md and issue templates
  .github/ISSUE_TEMPLATE/changelog-generator.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/guidelines-question.md
  .github/ISSUE_TEMPLATE/guidelines_dependencies.md
  .github/ISSUE_TEMPLATE/guidelines_eslint-config.md
  .github/ISSUE_TEMPLATE/guidelines_rfc.md
  .github/ISSUE_TEMPLATE/liferay_amd-loader.md
  .github/ISSUE_TEMPLATE/liferay_js-themes-toolkit.md
  .github/ISSUE_TEMPLATE/liferay_js-toolkit.md
  .github/ISSUE_TEMPLATE/npm-tools_changelog-generator.md
  .github/ISSUE_TEMPLATE/npm-tools_jest-junit-reporter.md
  .github/ISSUE_TEMPLATE/npm-tools_js-insights.md
  .github/ISSUE_TEMPLATE/npm-tools_js-publish.md
  .github/ISSUE_TEMPLATE/npm-tools_npm-scripts.md
  .github/ISSUE_TEMPLATE/third-party_jquery-form.md
  README.md
Labels: docs

#502 docs(senna): update deprecation notice to reflect new location
  maintenance/projects/senna/README.md
Labels: docs, senna

#504 docs(monorepo): update top-level README to include Senna links
  README.md
Labels: docs

#506 docs(monorepo): provide example of how to "rebase" (redo) subtree merge
  CONTRIBUTING/importing-a-project.md
Labels: docs

#510 docs(senna): remove broken badges from README
  maintenance/projects/senna/README.md
Labels: docs, senna

#518 docs(guidelines): update dependency_confusion.md with current status
  guidelines/general/security/dependency_confusion.md
Labels: docs, guidelines

#521 docs(guidelines): clean up "frequent code reviewers" list
  guidelines/dxp/code_review.md
Labels: docs, guidelines

#517 fix(eslint-config): fix group-imports edge case
  projects/eslint-config/plugins/liferay/lib/common/imports.js
  projects/eslint-config/test/integration.js
Labels: eslint-config, fix

#522 chore(npm-scripts): update eslint-config to v24.0.1
  projects/npm-tools/packages/npm-scripts/package.json
Labels: npm-scripts, npm-tools
