Repository liferay/liferay-frontend-projects, pull requests merged in 2021-02, with the labels that each got.

#391 docs: link to general guidelines and list recommended scopes
  CONTRIBUTING.md
  guidelines/README.md
Labels: docs, guidelines

#392 docs(guidelines): provide more info about narrowing suppression scope
  guidelines/dxp/linting.md
Labels: docs, guidelines

#397 chore(jquery-form): prepare to release jquery-form under named scope
  third-party/projects/jquery-form/package.json
Labels: chore, jquery-form

#398 fix(jquery-form): avoid XSS
  third-party/projects/jquery-form/jquery.form.js
Labels: fix, jquery-form

#399 chore(jquery-form): post-release cleanup
  .gitignore
  CONTRIBUTING.md
  third-party/README.md
  third-party/projects/jquery-form/CONTRIBUTING.md
  third-party/projects/jquery-form/jquery.form.js
Labels: docs, jquery-form

#406 feat(npm-scripts)!: prefer arrow callbacks in JSP too
  projects/npm-tools/packages/npm-scripts/src/jsp/lintJSP.js
  projects/npm-tools/packages/npm-scripts/test/jsp/lintJSP.js
Labels: feat, npm-scripts, npm-tools

#407 chore(npm-scripts): update to latest @liferay/eslint-config
  projects/npm-tools/packages/npm-scripts/package.json
Labels: chore, npm-scripts, npm-tools

#368 feat(js-themes-toolkit): add build option for using dart-sass instead of lib-sass
  package.json
  projects/js-themes-toolkit/packages/liferay-theme-tasks/package.json
  projects/js-themes-toolkit/packages/liferay-theme-tasks/theme/tasks/__tests__/build.test.js
  projects/js-themes-toolkit/packages/liferay-theme-tasks/theme/tasks/build/compile-css.js
  projects/js-themes-toolkit/packages/liferay-theme-tasks/theme/tasks/build/sass.js
  yarn.lock
Labels: 10.x, js-themes-toolkit

#400 feat(npm-scripts): add support for copying css filed and RTL conversion
  projects/npm-tools/packages/npm-scripts/__fixtures__/sass/css/main.css
  projects/npm-tools/packages/npm-scripts/__fixtures__/sass/css/nested/nested.css
  projects/npm-tools/packages/npm-scripts/__fixtures__/sass/mixed-files/_some-partial.scss
  projects/npm-tools/packages/npm-scripts/__fixtures__/sass/mixed-files/app.css
  projects/npm-tools/packages/npm-scripts/__fixtures__/sass/mixed-files/main.scss
  projects/npm-tools/packages/npm-scripts/__fixtures__/sass/rtl/_some-partial.scss
  projects/npm-tools/packages/npm-scripts/__fixtures__/sass/rtl/main.scss
  projects/npm-tools/packages/npm-scripts/__fixtures__/sass/rtl/nested/nested.scss
  projects/npm-tools/packages/npm-scripts/src/sass/build.js
  projects/npm-tools/packages/npm-scripts/src/scripts/build.js
  projects/npm-tools/packages/npm-scripts/test/sass/__snapshots__/build.js.snap
  projects/npm-tools/packages/npm-scripts/test/sass/build.js
Labels: npm-scripts, npm-tools

#408 feat: support scoped npm packages
  maintenance/projects/js-toolkit/packages/babel-plugin-namespace-modules/src/index.js
  maintenance/projects/js-toolkit/packages/liferay-npm-build-tools-common/src/__tests__/namespace.test.js
  maintenance/projects/js-toolkit/packages/liferay-npm-build-tools-common/src/namespace.ts
  projects/npm-tools/packages/npm-bundler-preset-liferay-dev/config.json
  projects/npm-tools/packages/npm-scripts/src/utils/SignalHandler.js
  projects/npm-tools/packages/npm-scripts/src/utils/bundlerNamespace.js
  projects/npm-tools/packages/npm-scripts/src/utils/createBridges.js
  projects/npm-tools/packages/npm-scripts/src/utils/createFederationConfig.js
  projects/npm-tools/packages/npm-scripts/src/utils/createTempFile.js
  projects/npm-tools/packages/npm-scripts/src/utils/getNamespacedVersionedPackageName.js
Labels: 2.x, js-toolkit, npm-bundler-preset-liferay-dev, npm-scripts, npm-tools

#411 fix(npm-scripts): fix incorrect versions in package.json
  projects/npm-tools/packages/npm-scripts/package.json
  yarn.lock
Labels: npm-scripts, npm-tools

#412 docs(guidelines): add guidance on options objects
  guidelines/general/options.md
Labels: docs, guidelines

#415 refactor: remove explicit dependency on clayui/css
  package.json
  yarn.lock
Labels: refactor

#416 fix(npm-scripts): support scoped package names in jest
  projects/npm-tools/packages/npm-scripts/src/utils/getJestModuleNameMapper.js
Labels: npm-scripts, npm-tools

#418 feat(npm-scripts): bump liferay-theme-tasks dependency to 10.3.0
  projects/npm-tools/packages/npm-scripts/package.json
Labels: npm-scripts, npm-tools

#419 docs(guidelines): update frequent reviewers list
  guidelines/dxp/code_review.md
Labels: docs, guidelines
