Repository liferay/liferay-frontend-projects, pull requests merged in 2021-05, with the labels that each got.

#527 feat: show documentation on what to expect about dependency version numbers
  maintenance/projects/js-themes-toolkit-v9-x/packages/generator-liferay-theme/lib/util.js
  projects/js-themes-toolkit/packages/generator-liferay-theme/lib/util.js
Labels: 10.x, 9.x, js-themes-toolkit

#523 fix(js-toolkit): declare Liferay mock before requiring main module when running 'npm run start'
  maintenance/projects/js-toolkit/packages/liferay-npm-build-support/src/resources/start/index.js.ejs
Labels: 2.x, feat, js-toolkit

#533 docs(js-themes-toolkit): add a new step to local themes toolkit test procedure
  projects/js-themes-toolkit/CONTRIBUTING.md
Labels: 10.x, docs, js-themes-toolkit

#535 fix(js-toolkit): support scoped packages when building JAR files
  maintenance/projects/js-toolkit/packages/liferay-npm-build-tools-common/src/project/__tests__/__fixtures__/project/scoped/.npmbundlerrc
  maintenance/projects/js-toolkit/packages/liferay-npm-build-tools-common/src/project/__tests__/__fixtures__/project/scoped/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-build-tools-common/src/project/__tests__/index.test.js
  maintenance/projects/js-toolkit/packages/liferay-npm-build-tools-common/src/project/jar.ts
Labels: 2.x, js-toolkit

#537 fix(npm-scripts): support importing css files under any node_modules directory
  projects/npm-tools/packages/npm-scripts/src/config/jest.config.js
  projects/npm-tools/packages/npm-scripts/src/jest/mocks/Liferay.js
  projects/npm-tools/packages/npm-scripts/src/jest/mocks/empty.css
  projects/npm-tools/packages/npm-scripts/src/jest/resolver.js
  projects/npm-tools/packages/npm-scripts/src/jest/transformStyles.js
Labels: feat, fix, npm-scripts, npm-tools

#540 feat(npm-scripts): update liferay-theme-tasks version
  projects/npm-tools/packages/npm-scripts/package.json
Labels: npm-scripts, npm-tools

#545 docs(gh-jira-sync): adds initial description of GitHub to JIRA synchronization using Exalate
  support/github-to-jira-synchronization/README.md
  support/github-to-jira-synchronization/clay.md
  support/github-to-jira-synchronization/images/gh_clay_edit_connection.png
  support/github-to-jira-synchronization/images/gh_clay_edit_trigger.png
  support/github-to-jira-synchronization/images/gh_connections.png
  support/github-to-jira-synchronization/images/gh_frontend_projects_edit_connection.png
  support/github-to-jira-synchronization/images/gh_frontend_projects_edit_trigger.png
  support/github-to-jira-synchronization/images/jira_clay_edit_trigger.png
  support/github-to-jira-synchronization/images/jira_edit_connection.png
  support/github-to-jira-synchronization/images/jira_frontend_projects_edit_connection.png
  support/github-to-jira-synchronization/images/jira_frontend_projects_edit_trigger.png
  support/github-to-jira-synchronization/images/jira_go_to_remote.png
  support/github-to-jira-synchronization/liferay-frontend-projects.md
Labels: docs

#548 docs(gh-jira-sync): update exalate user mapping adding headless squad
  support/github-to-jira-synchronization/clay.md
  support/github-to-jira-synchronization/liferay-frontend-projects.md
Labels: docs

#547 feat(js-toolkit): support for autopresets
  maintenance/projects/js-toolkit/packages/liferay-npm-build-tools-common/src/project/__tests__/__fixtures__/project/with-autopreset/node_modules/autopreset/config.json
  maintenance/projects/js-toolkit/packages/liferay-npm-build-tools-common/src/project/__tests__/__fixtures__/project/with-autopreset/node_modules/autopreset/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-build-tools-common/src/project/__tests__/__fixtures__/project/with-autopreset/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-build-tools-common/src/project/__tests__/__fixtures__/project/with-ignored-autopreset/.npmbundlerrc
  maintenance/projects/js-toolkit/packages/liferay-npm-build-tools-common/src/project/__tests__/__fixtures__/project/with-ignored-autopreset/node_modules/autopreset/config.json
  maintenance/projects/js-toolkit/packages/liferay-npm-build-tools-common/src/project/__tests__/__fixtures__/project/with-ignored-autopreset/node_modules/autopreset/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-build-tools-common/src/project/__tests__/__fixtures__/project/with-ignored-autopreset/node_modules/preset/config.json
  maintenance/projects/js-toolkit/packages/liferay-npm-build-tools-common/src/project/__tests__/__fixtures__/project/with-ignored-autopreset/node_modules/preset/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-build-tools-common/src/project/__tests__/__fixtures__/project/with-ignored-autopreset/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-build-tools-common/src/project/__tests__/__fixtures__/project/with-two-autopresets/node_modules/autopreset/config.json
  maintenance/projects/js-toolkit/packages/liferay-npm-build-tools-common/src/project/__tests__/__fixtures__/project/with-two-autopresets/node_modules/autopreset/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-build-tools-common/src/project/__tests__/__fixtures__/project/with-two-autopresets/node_modules/autopreset2/config.json
  maintenance/projects/js-toolkit/packages/liferay-npm-build-tools-common/src/project/__tests__/__fixtures__/project/with-two-autopresets/node_modules/autopreset2/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-build-tools-common/src/project/__tests__/__fixtures__/project/with-two-autopresets/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-build-tools-common/src/project/__tests__/index.test.js
  maintenance/projects/js-toolkit/packages/liferay-npm-build-tools-common/src/project/index.ts
Labels: 2.x, feat, js-toolkit

#558 docs(gh-jira-sync): update exalate user mapping sort order (alphabeti…
  support/github-to-jira-synchronization/clay.md
  support/github-to-jira-synchronization/liferay-frontend-projects.md
Labels: docs

#546 feat: create initial target-plaforms projects
  package.json
  support/packages/workspace-scripts/src/index.js
  target-platforms/CONTRIBUTING.md
  target-platforms/README.md
  target-platforms/package.json
  target-platforms/packages/create-plaform/assets/build.js
  target-platforms/packages/create-plaform/assets/liferay.js
  target-platforms/packages/create-plaform/bin/create-platform.js
  target-platforms/packages/create-plaform/package.json
  target-platforms/packages/portal-7.4-ga1/build.js
  target-platforms/packages/portal-7.4-ga1/config.json
  target-platforms/packages/portal-7.4-ga1/liferay.js
  target-platforms/packages/portal-7.4-ga1/package.json
Labels: docs, feat, target-platforms

#561 docs(guidelines): add missing info in css-custom-properties
  guidelines/dxp/how_to_use_css_custom_properties.md
Labels: docs, guidelines
