Repository liferay/liferay-frontend-projects, pull requests merged in 2021-08, with the labels that each got.

#605 docs(gh-jira-sync): update exalate scripts to remove Jon
  support/github-to-jira-synchronization/clay.md
  support/github-to-jira-synchronization/liferay-frontend-projects.md
Labels: docs

#614 chore: move devDependency to the project it is used in
  package.json
  projects/js-themes-toolkit/packages/liferay-theme-tasks/package.json
  yarn.lock
Labels: 10.x, js-themes-toolkit

#620 feat(eslint-config): Add lint to catch common AUI utilities
  projects/eslint-config/README.md
  projects/eslint-config/aui.js
  projects/eslint-config/package.json
  projects/eslint-config/plugins/aui/docs/rules/no-all.md
  projects/eslint-config/plugins/aui/docs/rules/no-array.md
  projects/eslint-config/plugins/aui/docs/rules/no-each.md
  projects/eslint-config/plugins/aui/docs/rules/no-get-body.md
  projects/eslint-config/plugins/aui/docs/rules/no-io.md
  projects/eslint-config/plugins/aui/docs/rules/no-merge.md
  projects/eslint-config/plugins/aui/docs/rules/no-modal.md
  projects/eslint-config/plugins/aui/docs/rules/no-node.md
  projects/eslint-config/plugins/aui/docs/rules/no-object.md
  projects/eslint-config/plugins/aui/docs/rules/no-one.md
  projects/eslint-config/plugins/aui/index.js
  projects/eslint-config/plugins/aui/lib/rules/no-all.js
  projects/eslint-config/plugins/aui/lib/rules/no-array.js
  projects/eslint-config/plugins/aui/lib/rules/no-each.js
  projects/eslint-config/plugins/aui/lib/rules/no-get-body.js
  projects/eslint-config/plugins/aui/lib/rules/no-io.js
  projects/eslint-config/plugins/aui/lib/rules/no-merge.js
  projects/eslint-config/plugins/aui/lib/rules/no-modal.js
  projects/eslint-config/plugins/aui/lib/rules/no-node.js
  projects/eslint-config/plugins/aui/lib/rules/no-object.js
  projects/eslint-config/plugins/aui/lib/rules/no-one.js
  projects/eslint-config/plugins/aui/package.json
  projects/eslint-config/plugins/aui/tests/lib/rules/no-all.js
  projects/eslint-config/plugins/aui/tests/lib/rules/no-array.js
  projects/eslint-config/plugins/aui/tests/lib/rules/no-each.js
  projects/eslint-config/plugins/aui/tests/lib/rules/no-get-body.js
  projects/eslint-config/plugins/aui/tests/lib/rules/no-io.js
  projects/eslint-config/plugins/aui/tests/lib/rules/no-merge.js
  projects/eslint-config/plugins/aui/tests/lib/rules/no-modal.js
  projects/eslint-config/plugins/aui/tests/lib/rules/no-node.js
  projects/eslint-config/plugins/aui/tests/lib/rules/no-object.js
  projects/eslint-config/plugins/aui/tests/lib/rules/no-one.js
Labels: docs, eslint-config

#633 chore(eslint-config): revert version bump spam
  projects/eslint-config/CHANGELOG.md
  projects/eslint-config/package.json
Labels: docs, eslint-config

#634 feat(npm-scripts): update eslint-config version
  projects/npm-tools/packages/npm-scripts/package.json
Labels: npm-scripts, npm-tools

#622 feat(eslint-config): add an ESlint rule that adds an empty line between sibling elements
  projects/eslint-config/index.js
  projects/eslint-config/plugins/liferay/index.js
  projects/eslint-config/plugins/liferay/lib/rules/empty-line-between-elements.js
  projects/eslint-config/plugins/liferay/tests/lib/rules/empty-line-between-elements.js
  projects/eslint-config/test/integration.js
Labels: eslint-config

#636 feat(npm-scripts): update eslint-config version
  projects/npm-tools/packages/npm-scripts/package.json
Labels: npm-scripts, npm-tools
