Repository liferay/liferay-frontend-projects, pull requests merged in 2021-01, with the labels that each got.

#367 chore(npm-scripts): add missing dependency
  projects/npm-tools/packages/npm-scripts/package.json
Labels: npm-scripts, npm-tools

#282 feat(npm-scripts): add script for building sass
  package.json
  projects/npm-tools/packages/npm-scripts/__fixtures__/sass/append-timestamp/main.scss
  projects/npm-tools/packages/npm-scripts/__fixtures__/sass/excludes/excluded.scss
  projects/npm-tools/packages/npm-scripts/__fixtures__/sass/excludes/included.scss
  projects/npm-tools/packages/npm-scripts/__fixtures__/sass/imports/fake-atlas.scss
  projects/npm-tools/packages/npm-scripts/__fixtures__/sass/imports/imports.scss
  projects/npm-tools/packages/npm-scripts/__fixtures__/sass/main/main.scss
  projects/npm-tools/packages/npm-scripts/__fixtures__/sass/main/nested/nested.scss
  projects/npm-tools/packages/npm-scripts/__fixtures__/sass/modified/modified.scss
  projects/npm-tools/packages/npm-scripts/__fixtures__/sass/none/.gitkeep
  projects/npm-tools/packages/npm-scripts/__fixtures__/sass/partial/_some-partial.scss
  projects/npm-tools/packages/npm-scripts/__fixtures__/sass/partial/partial.scss
  projects/npm-tools/packages/npm-scripts/__fixtures__/sass/rtl/rtl.scss
  projects/npm-tools/packages/npm-scripts/jest.config.js
  projects/npm-tools/packages/npm-scripts/package.json
  projects/npm-tools/packages/npm-scripts/src/presets/standard/index.js
  projects/npm-tools/packages/npm-scripts/src/sass/build.js
  projects/npm-tools/packages/npm-scripts/src/scripts/build.js
  projects/npm-tools/packages/npm-scripts/src/utils/expandGlobs.js
  projects/npm-tools/packages/npm-scripts/test/sass/build.js
  projects/npm-tools/packages/npm-scripts/test/utils/expandGlobs.js
  projects/npm-tools/packages/npm-scripts/test/utils/getRegExpForGlob.js
  yarn.lock
Labels: npm-scripts, npm-tools

#376 feat: upgrade webpack and add more portal projects to federated build
  package.json
  projects/js-toolkit/packages/js-toolkit-core/package.json
  projects/js-toolkit/packages/npm-bundler/package.json
  projects/js-toolkit/tsconfig.json
  projects/npm-tools/packages/npm-scripts/package.json
  projects/npm-tools/packages/npm-scripts/src/utils/createFederationConfig.js
  yarn.lock
Labels: 3.x, js-toolkit, npm-scripts, npm-tools

#382 feat: provide a mechanism to extend the `remotes` and `shared` fields of webpack config
  projects/npm-tools/packages/npm-scripts/package.json
  projects/npm-tools/packages/npm-scripts/src/transform/js/relocateImports.js
  projects/npm-tools/packages/npm-scripts/src/utils/createFederationConfig.js
  yarn.lock
Labels: npm-scripts, npm-tools

#387 feat: allow extension of webpack `exposes`
  projects/npm-tools/packages/npm-scripts/src/utils/createFederationConfig.js
Labels: npm-scripts, npm-tools

#389 feat(eslint-config): add Cavanaugh 7.4.x to list of possible deprecations
  projects/eslint-config/plugins/portal/docs/rules/deprecation.md
  projects/eslint-config/plugins/portal/lib/rules/deprecation.js
  projects/eslint-config/plugins/portal/tests/lib/rules/deprecation.js
Labels: docs, eslint-config
