Repository liferay/liferay-frontend-projects, pull requests merged in 2021-11, with the labels that each got.

#725 chore: update alloy-ui package.json to point to proper repository
  third-party/README.md
  third-party/projects/alloy-ui/package.json
Labels: docs

#728 fix(dev-server): check if cwd is already at portal root
  projects/js-toolkit/packages/dev-server/src/server.ts
Labels: js-toolkit, 3.x

#731 fix: small issues in various lint rules
  projects/eslint-plugin/rules/general/lib/rules/no-get-data-attribute.js
  projects/eslint-plugin/rules/general/tests/lib/rules/no-get-data-attribute.js
  projects/eslint-plugin/rules/portal/lib/rules/no-localhost-reference.js
  projects/npm-tools/packages/npm-scripts/src/config/npmscripts.config.js
Labels: eslint-plugin, npm-scripts, npm-tools

#733 feat(npm-scripts): bump eslint-plugin version
  projects/npm-tools/packages/npm-scripts/package.json
Labels: npm-scripts, npm-tools

#737 chore: add reference to alloy-ui and alloy-font-awesome in README
  README.md
Labels: docs

#727 feat: update liferay-cli to account for changes in Angular architecture
  projects/js-toolkit/packages/liferay-cli/src/dependencies.json
  projects/js-toolkit/packages/liferay-cli/src/new/facet-angular/index.ts
  projects/js-toolkit/packages/liferay-cli/src/new/facet-angular/templates/src/app/app.component.ts.ejs
  projects/js-toolkit/packages/liferay-cli/src/new/facet-angular/templates/src/app/app.dynamic.loader.ts.ejs
  projects/js-toolkit/packages/liferay-cli/src/new/facet-angular/templates/src/app/app.url.resolver.ts.ejs
  projects/js-toolkit/packages/liferay-cli/src/new/facet-angular/templates/src/index.ts.ejs
  projects/js-toolkit/packages/liferay-cli/src/new/facet-angular/templates/src/types/base.url.map.ts.ejs
  projects/js-toolkit/packages/liferay-cli/src/new/facet-angular/templates/src/types/liferay.params.ts.ejs
  projects/js-toolkit/packages/liferay-cli/src/new/facet-angular/templates/tsconfig.json.ejs
Labels: feat, js-toolkit, 3.x

#738 feat: migrate shared bundle generation to @liferay/cli
  projects/js-toolkit/packages/liferay-cli/src/new/facet-angular/index.ts
  projects/js-toolkit/packages/liferay-cli/src/new/facet-plain-js/index.ts
  projects/js-toolkit/packages/liferay-cli/src/new/facet-react/index.ts
  projects/js-toolkit/packages/liferay-cli/src/new/facet-shared-bundle/index.ts
  projects/js-toolkit/packages/liferay-cli/src/new/facet-shared-bundle/templates/.babelrc.ejs
  projects/js-toolkit/packages/liferay-cli/src/new/facet-shared-bundle/templates/src/index.js.ejs
  projects/js-toolkit/packages/liferay-cli/src/new/facet-vuejs/index.ts
  projects/js-toolkit/packages/liferay-cli/src/new/target-liferay/index.ts
  projects/js-toolkit/qa/.gitignore
  projects/js-toolkit/scripts/qa/index.js
Labels: js-toolkit, 3.x

#744 feat(npm-scripts): add preflight check for yarn.lock validity
  projects/npm-tools/packages/npm-scripts/src/scripts/check/preflight.js
  projects/npm-tools/packages/npm-scripts/src/scripts/check/preflight/checkYarnLock.js
Labels: npm-scripts, npm-tools

#741 feat(theme-tasks): upgrade gulp-sass and node-sass for newer node versions
  .github/workflows/format.yml
  .github/workflows/guidelines.yml
  .github/workflows/js-toolkit-v2.yml
  .github/workflows/lint.yml
  .github/workflows/lockfile.yml
  .github/workflows/projects.yml
  projects/js-themes-toolkit/packages/liferay-theme-tasks/package.json
  projects/js-themes-toolkit/packages/liferay-theme-tasks/theme/tasks/__tests__/build.test.js
  projects/js-themes-toolkit/packages/liferay-theme-tasks/theme/tasks/__tests__/deploy.test.js
  projects/js-themes-toolkit/packages/liferay-theme-tasks/theme/tasks/__tests__/kickstart.test.js
  projects/js-themes-toolkit/packages/liferay-theme-tasks/theme/tasks/__tests__/status.test.js
  projects/js-themes-toolkit/packages/liferay-theme-tasks/theme/tasks/build/compile-css.js
  projects/npm-tools/packages/npm-scripts/src/scripts/format.js
  yarn.lock
Labels: npm-scripts, npm-tools, 10.x, js-themes-toolkit

#745 feat(npm-scripts): update liferay-theme-tasks dependency version
  projects/js-themes-toolkit/packages/generator-liferay-theme/package.json
  projects/npm-tools/packages/npm-scripts/package.json
Labels: npm-scripts, npm-tools, 10.x, js-themes-toolkit

#754 fix(eslint-plugin): dataset uses camelCased keys instead of kebab-case.
  projects/eslint-plugin/rules/general/lib/rules/no-get-data-attribute.js
  projects/eslint-plugin/rules/general/tests/lib/rules/no-get-data-attribute.js
Labels: eslint-plugin

#750 feat: create target platforms for 7.4, 7.3, 7.2, and 7.1 versions
  target-platforms/packages/create-platform/bin/create-platform.js
  target-platforms/packages/create-platform/lib/getBasePackageJson.js
  target-platforms/packages/create-platform/lib/getBundlerImports.js
  target-platforms/packages/create-platform/lib/getDependencyVersion.js
  target-platforms/packages/create-platform/lib/getNpmbundlerrcFiles.js
  target-platforms/packages/create-platform/lib/getPortalConfig.js
  target-platforms/packages/create-platform/lib/getPortalVersion.js
  target-platforms/packages/create-platform/lib/getPortalYarnLock.js
  target-platforms/packages/create-platform/lib/isPortalDir.js
  target-platforms/packages/portal-7.1/.yarnrc
  target-platforms/packages/portal-7.1/config.json
  target-platforms/packages/portal-7.1/liferay.js
  target-platforms/packages/portal-7.1/package.json
  target-platforms/packages/portal-7.2/.yarnrc
  target-platforms/packages/portal-7.2/config.json
  target-platforms/packages/portal-7.2/liferay.js
  target-platforms/packages/portal-7.2/package.json
  target-platforms/packages/portal-7.3/.yarnrc
  target-platforms/packages/portal-7.3/config.json
  target-platforms/packages/portal-7.3/liferay.js
  target-platforms/packages/portal-7.3/package.json
  target-platforms/packages/portal-7.4-ga1/.yarnrc
  target-platforms/packages/portal-7.4-ga1/package.json
  target-platforms/packages/portal-7.4/.yarnrc
  target-platforms/packages/portal-7.4/config.json
  target-platforms/packages/portal-7.4/liferay.js
  target-platforms/packages/portal-7.4/package.json
  target-platforms/qa/test-portal-7.4-ga1/build.expected/css/styles.scss
  target-platforms/qa/test-portal-7.4-ga1/build.expected/package.json
  target-platforms/qa/test-portal-7.4-ga1/package.json
  target-platforms/scripts/qa.js
Labels: feat

#748 chore: update engines field to match our node lts
  .github/workflows/format.yml
  .github/workflows/guidelines.yml
  .github/workflows/js-toolkit-v2.yml
  .github/workflows/lint.yml
  .github/workflows/lockfile.yml
  .github/workflows/projects.yml
  projects/js-themes-toolkit/packages/bs3-bs4-compat/package.json
  projects/js-themes-toolkit/packages/generator-liferay-theme/package.json
  projects/js-themes-toolkit/packages/liferay-theme-tasks/package.json
Labels: 10.x, js-themes-toolkit

#759 feat(theme-tasks): update liferay-font-awesome version reference
  projects/js-themes-toolkit/packages/liferay-theme-tasks/lib/devDependencies.js
Labels: 10.x, js-themes-toolkit

#756 feat(liferay-cli): add new published target platforms
  projects/js-toolkit/packages/liferay-cli/bin/liferay.js
  projects/js-toolkit/packages/liferay-cli/src/dependencies.json
  projects/js-toolkit/packages/liferay-cli/src/index.ts
  projects/js-toolkit/packages/liferay-cli/src/new/index.ts
  projects/js-toolkit/packages/liferay-cli/src/new/target-liferay/index.ts
  projects/js-toolkit/packages/liferay-cli/src/runLiferayCli.ts
  projects/js-toolkit/packages/liferay-cli/src/showDocs.ts
Labels: js-toolkit, 3.x

#763 feat(liferay-cli): implement `liferay update-project` to update old yeoman-based projects
  projects/js-toolkit/packages/js-toolkit-core/src/index.ts
  projects/js-toolkit/packages/js-toolkit-core/src/project/Project.ts
  projects/js-toolkit/packages/js-toolkit-core/src/schema/LiferayJson.ts
  projects/js-toolkit/packages/js-toolkit-core/src/transform/json/operation/__tests__/addOrSetPkgJsonScripts.test.ts
  projects/js-toolkit/packages/js-toolkit-core/src/transform/json/operation/addOrSetPkgJsonScripts.ts
  projects/js-toolkit/packages/js-toolkit-core/src/transform/json/operation/deletePkgJsonScripts.ts
  projects/js-toolkit/packages/js-toolkit-core/src/transform/json/operation/setLiferayJsonDeployPath.ts
  projects/js-toolkit/packages/js-toolkit-core/src/transform/text/operation/removeLines.ts
  projects/js-toolkit/packages/liferay-cli/bin/liferay.js
  projects/js-toolkit/packages/liferay-cli/src/index.ts
  projects/js-toolkit/packages/liferay-cli/src/new/facet-buildable/index.ts
  projects/js-toolkit/packages/liferay-cli/src/new/facet-project/index.ts
  projects/js-toolkit/packages/liferay-cli/src/new/facet-project/templates/.npmignore.ejs
  projects/js-toolkit/packages/liferay-cli/src/showDocs.ts
  projects/js-toolkit/packages/liferay-cli/src/upgradeProject.ts
  projects/js-toolkit/packages/npm-bundler/src/globals.ts
Labels: feat, js-toolkit, 3.x

#761 fix(js-themes-toolkit): update for qa script
  package.json
  projects/js-themes-toolkit/qa/package.json
  projects/js-themes-toolkit/scripts/qa.js
  third-party/projects/alloy-font-awesome/package.json
  yarn.lock
Labels: 10.x, js-themes-toolkit

#766 feat(theme-tasks): update theme dependencies to match Liferay 7.4.13
  projects/js-themes-toolkit/packages/liferay-theme-tasks/lib/devDependencies.js
Labels: 10.x, js-themes-toolkit

#768 feat(npm-scripts): update liferay-theme-tasks version
  projects/npm-tools/packages/npm-scripts/package.json
Labels: npm-scripts, npm-tools

#765 feat(liferay-cli): upgrade adapted projects
  projects/js-toolkit/packages/liferay-cli/src/adapt/index.ts
  projects/js-toolkit/packages/liferay-cli/src/index.ts
  projects/js-toolkit/packages/liferay-cli/src/upgradeProject/convertNpmbuildrcToLiferayJson.ts
  projects/js-toolkit/packages/liferay-cli/src/upgradeProject/index.ts
  projects/js-toolkit/packages/liferay-cli/src/upgradeProject/safeReadJson.ts
  projects/js-toolkit/packages/liferay-cli/src/upgradeProject/upgradeAdaptedProject.ts
  projects/js-toolkit/packages/liferay-cli/src/upgradeProject/upgradeRegularProject.ts
Labels: js-toolkit, 3.x

#769 test(js-toolkit): fix QA scripts
  projects/js-toolkit/scripts/qa/util.js
Labels: js-toolkit, 3.x

#770 test(js-toolkit): fix QA scripts
  projects/js-toolkit/scripts/qa/util.js
Labels: js-toolkit, 3.x

#771 feat(generator-liferay-js): encourage users to use @liferay/cli
  maintenance/projects/js-toolkit/packages/generator-liferay-js/src/adapt/index.js
  maintenance/projects/js-toolkit/packages/generator-liferay-js/src/app/index.js
  maintenance/projects/js-toolkit/packages/generator-liferay-js/src/utils/index.js
Labels: js-toolkit, 2.x
