Repository liferay/liferay-frontend-projects, pull requests merged in 2021-10, with the labels that each got.

#666 chore: stabilize code for first release
  target-platforms/.eslintrc.js
  target-platforms/packages/create-platform/assets/.yarnrc
  target-platforms/packages/create-platform/lib/getBasePackageJson.js
  target-platforms/packages/create-platform/lib/writePlatform.js
  target-platforms/packages/portal-7.4-ga1/.yarnrc
  target-platforms/packages/portal-7.4-ga1/package.json
  target-platforms/packages/portal-master/.yarnrc
  target-platforms/packages/portal-master/package.json
  target-platforms/qa/test-portal-7.4-ga1/.gitignore
  target-platforms/qa/test-portal-7.4-ga1/README.md
  target-platforms/qa/test-portal-7.4-ga1/build.expected/AppComponent.js
  target-platforms/qa/test-portal-7.4-ga1/build.expected/AppComponent.js.map
  target-platforms/qa/test-portal-7.4-ga1/build.expected/css/styles.css
  target-platforms/qa/test-portal-7.4-ga1/build.expected/css/styles.css.map
  target-platforms/qa/test-portal-7.4-ga1/build.expected/css/styles.scss
  target-platforms/qa/test-portal-7.4-ga1/build.expected/css/styles.scss.js
  target-platforms/qa/test-portal-7.4-ga1/build.expected/css/styles.scss.js.map
  target-platforms/qa/test-portal-7.4-ga1/build.expected/index.js
  target-platforms/qa/test-portal-7.4-ga1/build.expected/index.js.map
  target-platforms/qa/test-portal-7.4-ga1/build.expected/manifest.json
  target-platforms/qa/test-portal-7.4-ga1/build.expected/package.json
  target-platforms/qa/test-portal-7.4-ga1/features/configuration.json
  target-platforms/qa/test-portal-7.4-ga1/features/localization/Language.properties
  target-platforms/qa/test-portal-7.4-ga1/package.json
  target-platforms/qa/test-portal-7.4-ga1/src/AppComponent.js
  target-platforms/qa/test-portal-7.4-ga1/src/css/styles.scss
  target-platforms/qa/test-portal-7.4-ga1/src/index.js
  target-platforms/qa/test-project/build.expected/css/styles.css.map
  target-platforms/scripts/qa.js
  target-platforms/yarn.lock
Labels: docs, target-platforms

#665 docs(gh-jira-sync): update exalate scripts to add Carol
  support/github-to-jira-synchronization/clay.md
  support/github-to-jira-synchronization/liferay-frontend-projects.md
Labels: docs

#667 docs(gh-jira-sync): update exalate scripts to sort alphabetical order…
  support/github-to-jira-synchronization/clay.md
  support/github-to-jira-synchronization/liferay-frontend-projects.md
Labels: docs

#670 fix(js-toolkit-core): add missing dependency
  projects/js-toolkit/packages/js-toolkit-core/package.json
Labels: js-toolkit, 3.x, fix

#673 fix(#672): update 7.1 themes deps versions to get the latest available
  maintenance/projects/js-themes-toolkit-v8-x/packages/liferay-theme-deps-7.1/package.json
  maintenance/projects/js-themes-toolkit-v8-x/yarn.lock
Labels: 8.x, js-themes-toolkit

#676 chore: update outdated links
  guidelines/dxp/environment.md
  guidelines/general/branch_structure.md
  guidelines/general/commit_messages.md
  guidelines/general/creating_a_new_npm_package.md
  guidelines/general/formatting.md
  guidelines/general/javascript.md
  guidelines/general/package_structure.md
  guidelines/general/security/two_factor_authentication.md
  guidelines/general/testing/supported_libraries.md
  guidelines/general/typescript.md
  guidelines/support/checkLinks.js
Labels: docs, guidelines

#688 docs(eslint-plugin): Fix bleeding code block in README
  projects/eslint-plugin/README.md
Labels: docs, eslint-plugin

#691 feat(eslint-plugin): add one-var rule
  maintenance/projects/js-themes-toolkit-v9-x/packages/liferay-theme-tasks/lib/r2/liferay-r2/css-parse.js
  maintenance/projects/js-themes-toolkit-v9-x/packages/liferay-theme-tasks/lib/r2/liferay-r2/index.js
  maintenance/projects/js-themes-toolkit-v9-x/packages/liferay-theme-tasks/lib/r2/liferay-r2/plugins/bg.js
  maintenance/projects/js-themes-toolkit-v9-x/packages/liferay-theme-tasks/lib/r2/liferay-r2/plugins/fontawesome.js
  maintenance/projects/js-themes-toolkit-v9-x/packages/liferay-theme-tasks/lib/r2/liferay-r2/plugins/yui3.js
  maintenance/projects/js-themes-toolkit-v9-x/scripts/qa.js
  maintenance/projects/js-toolkit/packages/babel-plugin-add-module-metadata/src/__tests__/index.test.js
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-loader-babel-loader/src/index.js
  projects/eslint-plugin/configs/general.js
  projects/js-themes-toolkit/packages/liferay-theme-tasks/lib/r2/liferay-r2/css-parse.js
  projects/js-themes-toolkit/packages/liferay-theme-tasks/lib/r2/liferay-r2/index.js
  projects/js-themes-toolkit/packages/liferay-theme-tasks/lib/r2/liferay-r2/plugins/bg.js
  projects/js-themes-toolkit/packages/liferay-theme-tasks/lib/r2/liferay-r2/plugins/fontawesome.js
  projects/js-themes-toolkit/packages/liferay-theme-tasks/lib/r2/liferay-r2/plugins/yui3.js
Labels: eslint-plugin, js-toolkit, 2.x, 9.x, 10.x, js-themes-toolkit

#694 refactor: reorganize code to settle migration from old to new JS Toolkit
  maintenance/projects/js-toolkit/packages/liferay-npm-build-tools-common/src/project/index.ts
  projects/js-toolkit/packages/liferay-cli/src/dependencies.json
  projects/js-toolkit/packages/liferay-cli/src/new/facet-angular/index.ts
  projects/js-toolkit/packages/liferay-cli/src/new/facet-react/index.ts
  projects/js-toolkit/packages/liferay-cli/src/new/facet-vuejs/index.ts
  projects/js-toolkit/packages/liferay-cli/src/new/target-liferay/index.ts
  target-platforms/packages/create-platform/assets/liferay.js
  target-platforms/packages/portal-7.4-ga1/liferay.js
  target-platforms/packages/portal-7.4-ga1/package.json
  target-platforms/packages/portal-adapt-angular-cli/liferay.js
  target-platforms/packages/portal-adapt-base/package.json
  target-platforms/packages/portal-adapt-base/src/build.js
  target-platforms/packages/portal-adapt-base/src/index.js
  target-platforms/packages/portal-adapt-create-react-app/liferay.js
  target-platforms/packages/portal-adapt-vue-cli/liferay.js
  target-platforms/packages/portal-agnostic/liferay.js
  target-platforms/packages/portal-base/package.json
  target-platforms/packages/portal-base/src/build.js
  target-platforms/packages/portal-base/src/clean.js
  target-platforms/packages/portal-base/src/deploy.js
  target-platforms/packages/portal-base/src/index.js
  target-platforms/packages/portal-base/src/util/abort.js
  target-platforms/packages/portal-base/src/util/sassImporter.js
  target-platforms/packages/portal-base/src/util/spawn.js
  target-platforms/packages/portal-master/liferay.js
Labels: js-toolkit, 2.x, 3.x

#689 chore(eslint-plugin): lint to accept "fetch", not "fetch.es"
  projects/eslint-plugin/rules/portal/lib/rules/no-global-fetch.js
  projects/eslint-plugin/rules/portal/tests/lib/rules/no-global-fetch.js
Labels: eslint-plugin

#703 fix(dev-server): fix a typo for protocol notation
  projects/js-toolkit/packages/dev-server/src/server.ts
Labels: js-toolkit, 3.x

#711 fix(npm-scripts): sort prettier config
  projects/npm-tools/packages/npm-scripts/src/config/prettier.json
Labels: npm-scripts, npm-tools

#721 fix(eslint-plugin): update no-conditional-object-keys rule
  projects/eslint-plugin/configs/general.js
  projects/eslint-plugin/rules/general/docs/rules/no-conditional-object-keys.md
  projects/eslint-plugin/rules/general/index.js
  projects/eslint-plugin/rules/general/lib/rules/no-conditional-object-keys.js
  projects/eslint-plugin/rules/general/tests/lib/rules/no-conditional-object-keys.js
Labels: docs, eslint-plugin
