Repository liferay/liferay-frontend-projects, pull requests merged in 2021-03, with the labels that each got.

#420 feat: externalize liferay-portal's specific configuration for webpack / bundler
  projects/npm-tools/packages/npm-bundler-preset-liferay-dev/.yarnrc
  projects/npm-tools/packages/npm-bundler-preset-liferay-dev/CHANGELOG.md
  projects/npm-tools/packages/npm-bundler-preset-liferay-dev/README.md
  projects/npm-tools/packages/npm-bundler-preset-liferay-dev/config.json
  projects/npm-tools/packages/npm-bundler-preset-liferay-dev/package.json
  projects/npm-tools/packages/npm-bundler-preset-liferay-dev/test/index.js
  projects/npm-tools/packages/npm-scripts/package.json
  projects/npm-tools/packages/npm-scripts/src/config/npm-bundler.json
  projects/npm-tools/packages/npm-scripts/src/config/npmscripts.config.js
  projects/npm-tools/packages/npm-scripts/src/presets/standard/dependencies/clay.js
  projects/npm-tools/packages/npm-scripts/src/presets/standard/dependencies/liferay.js
  projects/npm-tools/packages/npm-scripts/src/presets/standard/dependencies/metal.js
  projects/npm-tools/packages/npm-scripts/src/presets/standard/index.js
  projects/npm-tools/packages/npm-scripts/src/scripts/build.js
  projects/npm-tools/packages/npm-scripts/src/utils/createBridges.js
  projects/npm-tools/packages/npm-scripts/src/utils/createFederationConfig.js
  projects/npm-tools/packages/npm-scripts/src/utils/deepMerge.js
  projects/npm-tools/packages/npm-scripts/src/utils/findRoot.js
  projects/npm-tools/packages/npm-scripts/src/utils/getMergedConfig.js
  projects/npm-tools/packages/npm-scripts/src/utils/runBundler.js
  projects/npm-tools/packages/npm-scripts/src/utils/tweakWebpackConfig.js
  projects/npm-tools/packages/npm-scripts/src/utils/writeWebpackFederationEntryPoint.js
  projects/npm-tools/packages/npm-scripts/test/utils/tweakWebpackConfig.js
Labels: docs, npm-bundler-preset-liferay-dev, npm-scripts, npm-tools

#426 feat: add a resolver for soy templates to webpack federation
  projects/npm-tools/packages/npm-scripts/src/scripts/build.js
  projects/npm-tools/packages/npm-scripts/src/transform/js/relocateImports.js
  projects/npm-tools/packages/npm-scripts/src/utils/createFederationConfig.js
  projects/npm-tools/packages/npm-scripts/src/utils/createWebpackSoyResolver.js
  projects/npm-tools/packages/npm-scripts/src/utils/writeWebpackFederationEntryPoint.js
Labels: npm-scripts, npm-tools

#425 feat(npm-scripts): add some basic support for building with TypeScript
  projects/npm-tools/packages/npm-scripts/package.json
  projects/npm-tools/packages/npm-scripts/src/config/babel.json
  projects/npm-tools/packages/npm-scripts/src/scripts/build.js
  projects/npm-tools/packages/npm-scripts/test/utils/getMergedConfig.js
  yarn.lock
Labels: npm-scripts, npm-tools

#430 fix(eslint-config): update monkey patching to work with newer ESLint
  projects/eslint-config/utils/local.js
Labels: eslint-config, fix

#429 feat(eslint-config)!: turn off no-for-of-loops rule by default
  .eslintrc.js
  maintenance/projects/js-toolkit/.eslintrc.js
  projects/eslint-config/index.js
  projects/eslint-config/plugins/liferay/lib/rules/padded-test-blocks.js
  projects/eslint-config/plugins/portal/lib/rules/no-react-dom-render.js
  projects/js-toolkit/.eslintrc.js
Labels: eslint-config, feat

#431 feat(eslint-config): teach no-duplicate-imports rule about type imports
  projects/eslint-config/plugins/liferay/docs/rules/no-duplicate-imports.md
  projects/eslint-config/plugins/liferay/lib/rules/no-duplicate-imports.js
  projects/eslint-config/plugins/liferay/tests/lib/rules/no-duplicate-imports.js
Labels: docs, eslint-config, feat

#434 test(eslint-config): show that various rules already support TS
  projects/eslint-config/plugins/liferay/tests/lib/rules/imports-first.js
  projects/eslint-config/plugins/liferay/tests/lib/rules/no-absolute-import.js
  projects/eslint-config/plugins/liferay/tests/lib/rules/sort-import-destructures.js
  projects/eslint-config/plugins/liferay/tests/lib/rules/sort-imports.js
Labels: eslint-config, test

#433 feat(eslint-config)!: teach import-extensions rule about .ts, .tsx
  projects/eslint-config/plugins/liferay/lib/rules/import-extensions.js
  projects/eslint-config/plugins/liferay/tests/lib/rules/import-extensions.js
Labels: eslint-config, feat

#435 feat(eslint-config)!: teach sort-imports, group-imports to separate type-only inputs
  projects/eslint-config/jest.config.js
  projects/eslint-config/plugins/liferay/docs/rules/group-imports.md
  projects/eslint-config/plugins/liferay/docs/rules/sort-imports.md
  projects/eslint-config/plugins/liferay/lib/common/imports.js
  projects/eslint-config/plugins/liferay/lib/rules/group-imports.js
  projects/eslint-config/plugins/liferay/lib/rules/no-duplicate-imports.js
  projects/eslint-config/plugins/liferay/lib/rules/sort-imports.js
  projects/eslint-config/plugins/liferay/tests/lib/rules/group-imports.js
  projects/eslint-config/plugins/liferay/tests/lib/rules/sort-imports.js
  projects/eslint-config/test/integration.js
Labels: docs, eslint-config, feat

#438 feat(eslint-config)!: activate no-eval rule
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-loader-json-loader/src/__tests__/index.test.js
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-loader-style-loader/src/__tests__/index.test.js
  projects/amd-loader/test/loader/loader.js
  projects/eslint-config/README.md
  projects/eslint-config/index.js
Labels: 2.x, amd-loader, docs, eslint-config, feat, js-toolkit

#440 feat(eslint-config)!: teach class-names rules about "customClassName" attributes
  projects/eslint-config/plugins/liferay/docs/rules/no-duplicate-class-names.md
  projects/eslint-config/plugins/liferay/docs/rules/sort-class-names.md
  projects/eslint-config/plugins/liferay/docs/rules/trim-class-names.md
  projects/eslint-config/plugins/liferay/lib/common/className.js
  projects/eslint-config/plugins/liferay/tests/lib/rules/no-duplicate-class-names.js
  projects/eslint-config/plugins/liferay/tests/lib/rules/sort-class-names.js
  projects/eslint-config/plugins/liferay/tests/lib/rules/trim-class-names.js
  projects/eslint-config/test/integration.js
Labels: docs, eslint-config, feat

#441 chore(npm-scripts)!: update bundled @liferay/eslint-config to v22.0.0
  projects/npm-tools/packages/npm-scripts/package.json
Labels: chore, npm-scripts, npm-tools

#442 chore: update ESLint version from 7.10.0 to 7.21.0
  package.json
  projects/npm-tools/packages/npm-scripts/package.json
  yarn.lock
Labels: chore, npm-scripts, npm-tools

#444 docs(guidelines): add document explaining dependency confusion
  guidelines/general/security/dependencies.md
  guidelines/general/security/dependency_confusion.md
Labels: docs, guidelines

#445 fix(npm-scripts): use correct paths for Windows
  projects/npm-tools/packages/npm-scripts/src/webpack/writeWebpackFederationEntryPoint.js
Labels: npm-scripts, npm-tools

#443 fix(npm-scripts): change Angular adaptation to make it work with Angular 10/11
  maintenance/projects/js-toolkit/packages/liferay-npm-build-support/src/loader/normalize-angular-output.ts
  maintenance/projects/js-toolkit/packages/liferay-npm-build-support/src/resources/build/angular-cli/index.js.ejs
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-preset-angular-cli/config.json
Labels: 2.x, js-toolkit

#452 fix(js-toolkit): support namespaces originated from scoped packages
  projects/js-toolkit/packages/js-toolkit-core/src/node/__tests__/namespace.test.ts
  projects/js-toolkit/packages/js-toolkit-core/src/node/namespace.ts
Labels: 3.x, js-toolkit

#453 fix(js-toolkit): use new js-toolkit-core version to fix scoped namespaces
  package.json
  projects/js-toolkit/packages/generator-js/package.json
  projects/js-toolkit/packages/js-toolkit-scripts/package.json
  projects/js-toolkit/packages/npm-bundler/package.json
  projects/npm-tools/packages/npm-scripts/package.json
  yarn.lock
Labels: 3.x, js-toolkit, npm-scripts, npm-tools

#454 fix: don't treat ourselves as a valid import
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-plugin-exclude-imports/src/__tests__/index.test.js
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-plugin-exclude-imports/src/index.js
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-plugin-inject-imports-dependencies/src/index.js
Labels: 2.x, js-toolkit

#455 chore(npm-scripts): use js-toolkit 2.24.1
  projects/npm-tools/packages/npm-scripts/package.json
  yarn.lock
Labels: npm-scripts, npm-tools

#456 feat(eslint-config)!: add several packages to the no-metal-plugin eslint rule
  projects/eslint-config/plugins/portal/lib/rules/no-metal-plugins.js
  projects/eslint-config/plugins/portal/tests/lib/rules/no-metal-plugins.js
Labels: eslint-config

#460 chore(monorepo): temporarily fix lockfile failure in CI
  yarn.lock
Labels: chore

#459 docs(guidelines): add strong recommendation to use 2FA
  guidelines/general/security/two_factor_authentication.md
Labels: docs, guidelines

#461 feat(js-publish): educate people about 2FA
  .github/workflows/global.yml
  projects/npm-tools/packages/js-publish/src/index.js
Labels: feat, js-publish, npm-tools

#462 feat(changelog-generator): suggest when version bump should be major
  projects/npm-tools/packages/changelog-generator/src/index.js
Labels: changelog-generator, feat, npm-tools

#464 chore(npm-scripts): bump @liferay/eslint-config version from v22.0 to v23.0
  projects/npm-tools/packages/npm-scripts/package.json
  yarn.lock
Labels: npm-scripts, npm-tools

#467 docs(js-toolkit): add documentation on how to test JS Toolkit locally in liferay-portal
  maintenance/projects/js-toolkit/CONTRIBUTING.md
Labels: 2.x, docs, js-toolkit

#468 feat(npm-scripts): teach getJestModuleNameMapper about TS manifests
  projects/npm-tools/packages/npm-scripts/src/utils/getJestModuleNameMapper.js
Labels: feat, npm-scripts, npm-tools

#465 fix(js-toolkit): don't fail in css-loader for scoped dependencies
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-loader-css-loader/src/index.js
Labels: 2.x, js-toolkit

#470 chore(npm-scripts): use js-toolkit v2.24.2
  projects/npm-tools/packages/npm-scripts/package.json
  yarn.lock
Labels: npm-scripts, npm-tools

#471 feat(eslint-config)!: adapt no-use-before-define set-up for TypeScript
  maintenance/projects/js-toolkit/packages/babel-plugin-alias-modules/src/index.ts
  projects/eslint-config/index.js
Labels: eslint-config, feat

#472 feat(npm-scripts): add @types/react-dom dependency
  projects/npm-tools/packages/npm-scripts/package.json
  yarn.lock
Labels: feat, npm-scripts, npm-tools

#473 feat(npm-scripts): automatically run TS tests
  projects/npm-tools/packages/npm-scripts/src/config/jest.config.js
Labels: feat, npm-scripts, npm-tools

#474 chore(npm-scripts): update to typescript@4.2.3
  package.json
  projects/npm-tools/packages/npm-scripts/package.json
  yarn.lock
Labels: chore, npm-scripts, npm-tools

#476 chore: update lint-related dependencies
  package.json
  projects/eslint-config/package.json
  projects/npm-tools/packages/npm-scripts/package.json
  yarn.lock
Labels: chore, eslint-config, npm-scripts, npm-tools

#477 chore(npm-scripts)!: bump eslint-config to v24.0.0
  projects/npm-tools/packages/npm-scripts/package.json
Labels: chore, npm-scripts, npm-tools
