Repository liferay/liferay-frontend-projects, pull requests merged in 2021-06, with the labels that each got.

#559 feat(npm-tools): Autorun Prettier over generated CHANGELOG.md file
  projects/npm-tools/packages/changelog-generator/src/index.js
  projects/npm-tools/packages/changelog-generator/src/yarn.js
Labels: changelog-generator, npm-tools

#569 fix(js-toolkit): support spread operator when bundling modules
  maintenance/projects/js-toolkit/packages/babel-preset-liferay-standard/package.json
  maintenance/projects/js-toolkit/packages/babel-preset-liferay-standard/src/index.js
  maintenance/projects/js-toolkit/yarn.lock
Labels: 2.x, js-toolkit

#567 feat(eslint-config): Enable spaced-comment rule
  maintenance/projects/js-toolkit/packages/liferay-npm-build-tools-common/src/project/__tests__/index.test.js
  projects/eslint-config/README.md
  projects/eslint-config/index.js
  projects/npm-tools/packages/npm-scripts/src/jsp/stripIndents.js
  projects/npm-tools/packages/npm-scripts/src/jsp/tagReplacements.js
  projects/npm-tools/packages/npm-scripts/src/utils/runBridge.js
Labels: 2.x, docs, eslint-config, js-toolkit, npm-scripts, npm-tools

#574 fix(changelog-generator): don't fail when no version is present
  projects/npm-tools/packages/changelog-generator/src/index.js
Labels: changelog-generator, npm-tools

#576 feat(js-toolkit): automatically exclude transitive dependencies from autopresets (target platforms)
  maintenance/projects/js-toolkit/packages/liferay-npm-build-tools-common/src/project/index.ts
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler/src/__tests__/dependencies.test.js
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler/src/dependencies.js
  maintenance/projects/js-toolkit/scripts/watch.js
Labels: 2.x, feat, js-toolkit

#578 feat(js-toolkit-core)!: reorganize existing and add new transforms
  projects/js-toolkit/package.json
  projects/js-toolkit/packages/js-toolkit-core/package.json
  projects/js-toolkit/packages/js-toolkit-core/src/format.ts
  projects/js-toolkit/packages/js-toolkit-core/src/index.ts
  projects/js-toolkit/packages/js-toolkit-core/src/schema/ConfigurationJson.ts
  projects/js-toolkit/packages/js-toolkit-core/src/schema/PkgJson.ts
  projects/js-toolkit/packages/js-toolkit-core/src/template/Renderer.ts
  projects/js-toolkit/packages/js-toolkit-core/src/transform/json/operation/__tests__/addConfigurationJsonField.test.ts
  projects/js-toolkit/packages/js-toolkit-core/src/transform/json/operation/__tests__/addPkgJsonDependencies.test.ts
  projects/js-toolkit/packages/js-toolkit-core/src/transform/json/operation/__tests__/addPkgJsonPortletProperties.test.ts
  projects/js-toolkit/packages/js-toolkit-core/src/transform/json/operation/__tests__/addPkgJsonScripts.test.ts
  projects/js-toolkit/packages/js-toolkit-core/src/transform/json/operation/__tests__/deletePkgJsonDependencies.test.ts
  projects/js-toolkit/packages/js-toolkit-core/src/transform/json/operation/addConfigurationJsonField.ts
  projects/js-toolkit/packages/js-toolkit-core/src/transform/json/operation/addPkgJsonDependencies.ts
  projects/js-toolkit/packages/js-toolkit-core/src/transform/json/operation/addPkgJsonPortletProperties.ts
  projects/js-toolkit/packages/js-toolkit-core/src/transform/json/operation/addPkgJsonScripts.ts
  projects/js-toolkit/packages/js-toolkit-core/src/transform/json/operation/deletePkgJsonDependencies.ts
  projects/js-toolkit/packages/js-toolkit-core/src/transform/json/operation/setPkgJsonPortletHeader.ts
  projects/js-toolkit/packages/js-toolkit-core/src/transform/text/index.ts
  projects/js-toolkit/packages/js-toolkit-core/src/transform/text/operation/__tests__/appendLines.test.ts
  projects/js-toolkit/packages/js-toolkit-core/src/transform/text/operation/appendLines.ts
  projects/js-toolkit/packages/js-toolkit-scripts/package.json
  projects/js-toolkit/packages/liferay-cli/package.json
  projects/js-toolkit/packages/npm-bundler/package.json
  projects/js-toolkit/packages/npm-bundler/src/adapt/bundler-project/index.ts
  projects/js-toolkit/packages/npm-bundler/src/adapt/bundler-project/write-export-modules.ts
  projects/js-toolkit/packages/npm-bundler/src/adapt/index.ts
  projects/js-toolkit/packages/npm-bundler/src/adapt/liferay-fragment/index.ts
  projects/js-toolkit/packages/npm-bundler/src/transform/js/operation/namespaceWepbackJsonp.ts
  projects/js-toolkit/packages/npm-bundler/src/util/renderer.ts
  projects/js-toolkit/packages/npm-bundler/tsconfig.json
  projects/js-toolkit/scripts/build.js
  projects/js-toolkit/scripts/clean.js
  projects/js-toolkit/scripts/copyfiles.js
  projects/js-toolkit/scripts/util/getProjectDirectories.js
  projects/js-toolkit/scripts/watch.js
  projects/js-toolkit/tsconfig.json
Labels: 3.x, feat, js-toolkit

#581 chore: let `eslint` be executed from inner project folders
  .eslintignore
  .eslintrc.js
  projects/js-themes-toolkit/.eslintignore
Labels: chore

#587 fix(eslint-config): forgot to apply rule by default and include docs for the rule
  projects/eslint-config/plugins/portal/docs/rules/no-react-dom-create-portal.md
  projects/eslint-config/plugins/portal/tests/lib/rules/no-react-dom-create-portal.js
  projects/eslint-config/portal.js
Labels: docs, eslint-config

#588 chore(npm-scripts): fix CHANGELOG
  projects/npm-tools/packages/npm-scripts/CHANGELOG.md
Labels: docs, npm-scripts, npm-tools

#582 fix(js-toolkit): fix security vulnerability related to dot-prop and merge
  maintenance/projects/js-toolkit/packages/liferay-npm-build-tools-common/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler/src/index.ts
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler/src/insight.js
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler/src/report/analytics.js
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler/src/report/index.js
  maintenance/projects/js-toolkit/yarn.lock
Labels: 2.x, fix, js-toolkit

#584 feat(liferay-cli): '@liferay/cli new' for Liferay 7.4.0 GA1
  projects/js-toolkit/packages/js-toolkit-core/src/format.ts
  projects/js-toolkit/packages/liferay-cli/bin/liferay.js
  projects/js-toolkit/packages/liferay-cli/package.json
  projects/js-toolkit/packages/liferay-cli/src/build.ts
  projects/js-toolkit/packages/liferay-cli/src/index.ts
  projects/js-toolkit/packages/liferay-cli/src/new/facet-configuration/index.ts
  projects/js-toolkit/packages/liferay-cli/src/new/facet-configuration/templates/features/configuration.json.ejs
  projects/js-toolkit/packages/liferay-cli/src/new/facet-localization/index.ts
  projects/js-toolkit/packages/liferay-cli/src/new/facet-localization/templates/features/localization/Language.properties.ejs
  projects/js-toolkit/packages/liferay-cli/src/new/facet-portlet/index.ts
  projects/js-toolkit/packages/liferay-cli/src/new/facet-portlet/templates/assets/css/styles.css.ejs
  projects/js-toolkit/packages/liferay-cli/src/new/facet-project/index.ts
  projects/js-toolkit/packages/liferay-cli/src/new/facet-project/templates/.gitignore.ejs
  projects/js-toolkit/packages/liferay-cli/src/new/facet-project/templates/README.md.ejs
  projects/js-toolkit/packages/liferay-cli/src/new/facet-project/templates/assets/.placeholder.ejs
  projects/js-toolkit/packages/liferay-cli/src/new/facet-project/templates/package.json.ejs
  projects/js-toolkit/packages/liferay-cli/src/new/index.ts
  projects/js-toolkit/packages/liferay-cli/src/new/target-liferay/index.ts
  projects/js-toolkit/packages/liferay-cli/src/new/target-liferay/templates/.babelrc.ejs
  projects/js-toolkit/packages/liferay-cli/src/new/target-liferay/templates/src/AppComponent.js.ejs
  projects/js-toolkit/packages/liferay-cli/src/new/target-liferay/templates/src/index.js.ejs
  projects/js-toolkit/packages/liferay-cli/src/new/util/getPortletName.ts
  projects/js-toolkit/packages/liferay-cli/src/new/util/prompt.ts
  projects/js-toolkit/packages/liferay-cli/tsconfig.json
  target-platforms/CONTRIBUTING.md
  target-platforms/packages/create-plaform/bin/create-platform.js
  target-platforms/packages/portal-7.4-ga1/config.json
  target-platforms/packages/portal-7.4-ga1/package.json
  yarn.lock
Labels: 3.x, docs, js-toolkit

#583 docs(guidelines): Add docs on extracting JS from JSPs
  guidelines/dxp/extracting_js_from_jsps.md
Labels: docs, guidelines

#594 fix(eslint-config): add case for abbreviation being a key on an object
  projects/eslint-config/plugins/liferay/lib/rules/no-abbreviations.js
  projects/eslint-config/plugins/liferay/tests/lib/rules/no-abbreviations.js
Labels: eslint-config

#597 feat(bs3-bs4-compat): add new package for bootstrap 3 to 4 compatibility layer
  projects/js-themes-toolkit/README.md
  projects/js-themes-toolkit/packages/bs3-bs4-compat/CHANGELOG.md
  projects/js-themes-toolkit/packages/bs3-bs4-compat/README.md
  projects/js-themes-toolkit/packages/bs3-bs4-compat/package.json
  projects/js-themes-toolkit/packages/bs3-bs4-compat/scss/_atlas_variables.scss
  projects/js-themes-toolkit/packages/bs3-bs4-compat/scss/_components.scss
  projects/js-themes-toolkit/packages/bs3-bs4-compat/scss/_mixins.scss
  projects/js-themes-toolkit/packages/bs3-bs4-compat/scss/_variables.scss
  projects/js-themes-toolkit/packages/bs3-bs4-compat/scss/components/_alerts.scss
  projects/js-themes-toolkit/packages/bs3-bs4-compat/scss/components/_basic_search.scss
  projects/js-themes-toolkit/packages/bs3-bs4-compat/scss/components/_breadcrumbs.scss
  projects/js-themes-toolkit/packages/bs3-bs4-compat/scss/components/_button_groups.scss
  projects/js-themes-toolkit/packages/bs3-bs4-compat/scss/components/_buttons.scss
  projects/js-themes-toolkit/packages/bs3-bs4-compat/scss/components/_cards.scss
  projects/js-themes-toolkit/packages/bs3-bs4-compat/scss/components/_component_animations.scss
  projects/js-themes-toolkit/packages/bs3-bs4-compat/scss/components/_dropdowns.scss
  projects/js-themes-toolkit/packages/bs3-bs4-compat/scss/components/_figures.scss
  projects/js-themes-toolkit/packages/bs3-bs4-compat/scss/components/_form_validation.scss
  projects/js-themes-toolkit/packages/bs3-bs4-compat/scss/components/_forms.scss
  projects/js-themes-toolkit/packages/bs3-bs4-compat/scss/components/_grid.scss
  projects/js-themes-toolkit/packages/bs3-bs4-compat/scss/components/_icons.scss
  projects/js-themes-toolkit/packages/bs3-bs4-compat/scss/components/_labels.scss
  projects/js-themes-toolkit/packages/bs3-bs4-compat/scss/components/_liferay.scss
  projects/js-themes-toolkit/packages/bs3-bs4-compat/scss/components/_list_groups.scss
  projects/js-themes-toolkit/packages/bs3-bs4-compat/scss/components/_management_bar.scss
  projects/js-themes-toolkit/packages/bs3-bs4-compat/scss/components/_modals.scss
  projects/js-themes-toolkit/packages/bs3-bs4-compat/scss/components/_nav_tabs.scss
  projects/js-themes-toolkit/packages/bs3-bs4-compat/scss/components/_navbar.scss
  projects/js-themes-toolkit/packages/bs3-bs4-compat/scss/components/_navs.scss
  projects/js-themes-toolkit/packages/bs3-bs4-compat/scss/components/_pager.scss
  projects/js-themes-toolkit/packages/bs3-bs4-compat/scss/components/_panels.scss
  projects/js-themes-toolkit/packages/bs3-bs4-compat/scss/components/_popover.scss
  projects/js-themes-toolkit/packages/bs3-bs4-compat/scss/components/_progress_bars.scss
  projects/js-themes-toolkit/packages/bs3-bs4-compat/scss/components/_responsive_utilities.scss
  projects/js-themes-toolkit/packages/bs3-bs4-compat/scss/components/_sidebar.scss
  projects/js-themes-toolkit/packages/bs3-bs4-compat/scss/components/_simple_flexbox_grid.scss
  projects/js-themes-toolkit/packages/bs3-bs4-compat/scss/components/_stickers.scss
  projects/js-themes-toolkit/packages/bs3-bs4-compat/scss/components/_tables.scss
  projects/js-themes-toolkit/packages/bs3-bs4-compat/scss/components/_toggle_card.scss
  projects/js-themes-toolkit/packages/bs3-bs4-compat/scss/components/_toggle_switch.scss
  projects/js-themes-toolkit/packages/bs3-bs4-compat/scss/components/_toolbar.scss
  projects/js-themes-toolkit/packages/bs3-bs4-compat/scss/components/_user_icons.scss
  projects/js-themes-toolkit/packages/bs3-bs4-compat/scss/components/_utilities.scss
  projects/js-themes-toolkit/packages/liferay-theme-tasks/theme/tasks/upgrade.js
Labels: 10.x, docs, js-themes-toolkit

#602 chore(bs3-bs4-compat): make sure naming is consistent
  projects/js-themes-toolkit/packages/bs3-bs4-compat/.yarnrc
  projects/js-themes-toolkit/packages/bs3-bs4-compat/README.md
  projects/js-themes-toolkit/packages/bs3-bs4-compat/package.json
  projects/js-themes-toolkit/packages/liferay-theme-tasks/theme/tasks/upgrade.js
Labels: 10.x, docs, js-themes-toolkit
