Repository liferay/liferay-frontend-projects, pull requests merged in 2021-09, with the labels that each got.

#638 chore(eslint-config): add no-aui rules to global eslint-config file
  projects/eslint-config/index.js
Labels: eslint-config

#641 feat(npm-scripts): update eslint-config version to 27.0.1
  projects/npm-tools/packages/npm-scripts/package.json
Labels: npm-scripts, npm-tools

#642 chore: update typescript to v4.4.0
  package.json
  projects/eslint-config/package.json
  projects/npm-tools/packages/npm-scripts/package.json
  yarn.lock
Labels: eslint-config, npm-scripts, npm-tools

#643 fix(js-publish): add message when publishing fails
  projects/npm-tools/packages/js-publish/src/index.js
Labels: js-publish, npm-tools

#650 feat(eslint-config): add rule to ensure JSX expressions guard against rendering 0 on accident
  projects/eslint-config/README.md
  projects/eslint-config/index.js
  projects/eslint-config/plugins/liferay/docs/rules/no-length-jsx-expression.md
  projects/eslint-config/plugins/liferay/index.js
  projects/eslint-config/plugins/liferay/lib/rules/no-length-jsx-expression.js
  projects/eslint-config/plugins/liferay/tests/lib/rules/no-length-jsx-expression.js
Labels: docs, eslint-config

#654 fix(bs3-bs4-compat): fix broken color variables
  projects/js-themes-toolkit/packages/bs3-bs4-compat/scss/_mixins.scss
  projects/js-themes-toolkit/packages/bs3-bs4-compat/scss/_variables.scss
  projects/js-themes-toolkit/packages/bs3-bs4-compat/scss/components/_form_validation.scss
Labels: 10.x, js-themes-toolkit

#660 fix(js-theme-toolkit): Fix RTL conversion for translate properties
  projects/js-themes-toolkit/packages/liferay-theme-tasks/lib/r2/liferay-r2/index.js
Labels: 10.x, js-themes-toolkit

#661 fix(npm-scripts): update liferay-theme-tasks to latest version
  projects/npm-tools/packages/npm-scripts/package.json
Labels: npm-scripts, npm-tools
