Repository liferay/liferay-frontend-projects, pull requests merged in 2022-09, with the labels that each got.

#999 fix(js-toolkit-core): fix "No such file or directory .liferay.json" error
  projects/js-toolkit/packages/js-toolkit-core/src/project/liferayCli/Deploy.ts
Labels: js-toolkit, 3.x

#1002 fix: hard-coded css/main.css file in create-react-app adaptations
  .github/workflows/projects.yml
  projects/js-toolkit/packages/portal-adapt-base/src/loader/addCSSPortletHeader.ts
  target-platforms/packages/portal-adapt-create-react-app/config.json
Labels: js-toolkit, 3.x

#1004 feat: add --configure option to build, deploy and start command of @liferay/cli
  projects/js-toolkit/docs/manuals/liferay-cli.md
  projects/js-toolkit/packages/js-toolkit-core/src/project/liferayCli/Build.ts
  projects/js-toolkit/packages/js-toolkit-core/src/project/liferayCli/Deploy.ts
  projects/js-toolkit/packages/js-toolkit-core/src/project/liferayCli/Project.ts
  projects/js-toolkit/packages/js-toolkit-core/src/project/liferayCli/Start.ts
  projects/js-toolkit/packages/js-toolkit-core/src/project/liferayCli/Writable.ts
  projects/js-toolkit/packages/js-toolkit-core/src/project/liferayCli/persist.ts
  projects/js-toolkit/packages/liferay-cli/bin/liferay.js
  projects/js-toolkit/packages/portal-base/package.json
  projects/js-toolkit/packages/portal-base/src/configureBuild.ts
  projects/js-toolkit/packages/portal-base/src/configureDeploy.ts
  projects/js-toolkit/packages/portal-base/src/configureStart.ts
  projects/js-toolkit/packages/portal-base/src/deploy.ts
  projects/js-toolkit/packages/portal-base/src/index.ts
  projects/js-toolkit/packages/portal-base/src/prepareStart.ts
  projects/js-toolkit/packages/portal-base/src/util/promptForConfiguration.ts
  projects/js-toolkit/packages/portal-base/src/util/promptForDeployPath.ts
  projects/js-toolkit/packages/portal-base/src/util/runConfigureWizard.ts
Labels: docs, js-toolkit, 3.x

#1005 style(portal-base): remove deep import
  projects/js-toolkit/packages/portal-base/src/util/runConfigureWizard.ts
Labels: js-toolkit, 3.x

#1009 feat(liferay-npm-bundler): add new configuration "strictGlobalDependencies" which looks at the global bundler config to determine what dependencies to bundle instead of just the module's package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-build-tools-common/src/project/copy.ts
  maintenance/projects/js-toolkit/packages/liferay-npm-build-tools-common/src/project/index.ts
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler/src/__tests__/.gitignore
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler/src/__tests__/__fixtures__/project-strict-dependencies/.npmbundlerrc
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler/src/__tests__/__fixtures__/project-strict-dependencies/node_modules/test-project-dep-0/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler/src/__tests__/__fixtures__/project-strict-dependencies/node_modules/test-project-dep-1/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler/src/__tests__/__fixtures__/project-strict-dependencies/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler/src/__tests__/dependencies.test.js
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler/src/dependencies.js
Labels: js-toolkit, 2.x

#1008 feat(eslint-plugin): add ESLint rule to prevent usage of document.cookie
  projects/eslint-plugin/README.md
  projects/eslint-plugin/configs/portal.js
  projects/eslint-plugin/rules/portal/docs/rules/no-document-cookie.md
  projects/eslint-plugin/rules/portal/index.js
  projects/eslint-plugin/rules/portal/lib/rules/no-document-cookie.js
  projects/eslint-plugin/rules/portal/tests/lib/rules/no-document-cookie.js
Labels: docs, eslint-plugin

#1011 feat(npm-scripts): update to latest js-toolkit@v2 for new bundler process with globally defined dependencies
  projects/npm-tools/packages/npm-scripts/package.json
  yarn.lock
Labels: npm-scripts, npm-tools

#1012 fix: MVC portlet source maps point to a wrong place
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-plugin-tweak-sourcemaps/README.md
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-plugin-tweak-sourcemaps/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-plugin-tweak-sourcemaps/src/index.ts
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-plugin-tweak-sourcemaps/tsconfig.json
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-preset-standard/config.json
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-preset-standard/package.json
Labels: docs, js-toolkit, 2.x

#1014 fix(js-toolkit-core): deployment wizard fails to persist Liferay's path
  projects/js-toolkit/packages/js-toolkit-core/src/project/liferayCli/persist.ts
Labels: js-toolkit, 3.x
