Repository liferay/liferay-frontend-projects, pull requests merged in 2022-02, with the labels that each got.

#835 docs(eslint-plugin): Update eslint docs
  projects/eslint-plugin/README.md
  projects/eslint-plugin/rules/general/docs/rules/empty-line-between-elements.md
  yarn.lock
Labels: docs, eslint-plugin

#839 feat(npm-scripts): Add "extra" to the list of folders to check with yarn format
  projects/npm-tools/packages/npm-scripts/src/config/npmscripts.config.js
Labels: npm-scripts, npm-tools

#847 fix(liferay-cli): remove leftover from copypasta 🍝
  projects/js-toolkit/packages/liferay-cli/src/new/target-remote-app/index.ts
Labels: js-toolkit, 3.x

#849 fix(portal-base): fix dependency version
  projects/js-toolkit/packages/portal-base/package.json
Labels: js-toolkit, 3.x

#862 feat(amd-loader): load scripts as browser modules (i.e.: type='module')
  projects/amd-loader/src/loader/script-loader.js
Labels: amd-loader

#865 fix(local-npm): prevent local-npm from screwing NodePlugin
  projects/amd-loader/CHANGELOG.md
  projects/amd-loader/package.json
  support/packages/local-npm/lib/index.js
Labels: docs, amd-loader

#868 feat(npm-scripts): add a webpack based build leveraging ESM
  projects/npm-tools/packages/npm-scripts/package.json
  projects/npm-tools/packages/npm-scripts/src/scripts/build.js
  projects/npm-tools/packages/npm-scripts/src/utils/convertImportsToExternals.js
  projects/npm-tools/packages/npm-scripts/src/utils/createAmd2EsmExportsBridges.js
  projects/npm-tools/packages/npm-scripts/src/utils/createEsm2AmdExportsBridges.js
  projects/npm-tools/packages/npm-scripts/src/utils/flattenPkgName.js
  projects/npm-tools/packages/npm-scripts/src/utils/getMergedConfig.js
  projects/npm-tools/packages/npm-scripts/src/utils/runWebpack.js
  projects/npm-tools/packages/npm-scripts/src/utils/runWebpackAsBundler.js
  yarn.lock
Labels: npm-scripts, npm-tools
