Repository liferay/liferay-frontend-projects, pull requests merged in 2022-03, with the labels that each got.

#864 docs(liferay-font-awesome): Update readme and contributing pages
  third-party/projects/alloy-font-awesome/CONTRIBUTING.md
  third-party/projects/alloy-font-awesome/README.md
Labels: docs

#861 refactor(portal-base): don't rely on bundler2 Project for clean task
  projects/js-toolkit/packages/portal-base/src/clean.ts
Labels: js-toolkit, 3.x

#875 feat(npm-scripts): support bridged exports
  projects/npm-tools/packages/npm-scripts/src/utils/createEsm2AmdExportsBridges.js
  projects/npm-tools/packages/npm-scripts/src/utils/getMergedConfig.js
  projects/npm-tools/packages/npm-scripts/src/utils/runWebpack.js
  projects/npm-tools/packages/npm-scripts/src/utils/runWebpackAsBundler.js
Labels: npm-scripts, npm-tools

#853 feat(@liferay/npm-scripts): Give Liferay Workspaces ability to use our Prettier setup with the VSC extension
  projects/npm-tools/packages/npm-scripts/contrib/prettier/prettier.js
Labels: npm-scripts, npm-tools

#877 fix(npm-scripts): fix ESM to AMD bridges
  projects/npm-tools/packages/npm-scripts/src/utils/createEsm2AmdExportsBridges.js
  projects/npm-tools/packages/npm-scripts/src/utils/runWebpackAsBundler.js
Labels: npm-scripts, npm-tools

#873 fix(npm-scripts): update theme-tasks dependency
  projects/npm-tools/packages/npm-scripts/package.json
  yarn.lock
Labels: npm-scripts, npm-tools

#883 feat(npm-scripts): webpack based build
  projects/npm-tools/packages/npm-scripts/src/scripts/build.js
  projects/npm-tools/packages/npm-scripts/src/utils/convertImportsToExternals.js
  projects/npm-tools/packages/npm-scripts/src/utils/createEsm2AmdExportsBridges.js
  projects/npm-tools/packages/npm-scripts/src/utils/createEsm2AmdIndexBridge.js
  projects/npm-tools/packages/npm-scripts/src/utils/getBndWebContextPath.js
  projects/npm-tools/packages/npm-scripts/src/utils/getMergedConfig.js
  projects/npm-tools/packages/npm-scripts/src/utils/runWebpack.js
  projects/npm-tools/packages/npm-scripts/src/utils/runWebpackAsBundler.js
  support/packages/local-npm/lib/index.js
Labels: feat, npm-scripts, npm-tools

#889 chore(bs3-bs4-compat): remove reference to main file
  projects/js-themes-toolkit/packages/bs3-bs4-compat/README.md
Labels: docs, 10.x, js-themes-toolkit

#893 fix(portal-base): remove logic that checks for typescript
  guidelines/dxp/liferay_global_event_bus.md
  projects/js-toolkit/packages/portal-base/src/build/bundler2.ts
Labels: docs, js-toolkit, 3.x, guidelines

#897 fix: allow varied number of CRA chunks (#895)
  projects/js-toolkit/packages/portal-adapt-base/src/build.ts
  projects/js-toolkit/packages/portal-adapt-base/src/templates/create-react-app/index.js.ejs
Labels: js-toolkit, 3.x

#899 feat(local-npm): add "get registry --bash-prompt" option
  support/packages/local-npm/bin/local-npm.js
  support/packages/local-npm/lib/index.js
Labels: chore

#900 chore(js-toolkit): fix some internal project stuff
  projects/js-toolkit/qa/expected/agnostic-remote-app/build/css/styles.css
  projects/js-toolkit/qa/expected/agnostic-remote-app/build/index.js
  projects/js-toolkit/qa/expected/agnostic-remote-app/build/manifest.json
  projects/js-toolkit/scripts/build.js
  support/packages/workspace-scripts/src/index.js
Labels: js-toolkit, 3.x
