Repository liferay/liferay-frontend-projects, pull requests merged in 2022-04, with the labels that each got.

#894 feat(npm-scripts): support .scss files
  projects/npm-tools/packages/npm-scripts/src/utils/convertImportsToExternals.js
  projects/npm-tools/packages/npm-scripts/src/utils/createEsm2AmdExportsBridges.js
  projects/npm-tools/packages/npm-scripts/src/utils/createEsm2AmdIndexBridge.js
  projects/npm-tools/packages/npm-scripts/src/utils/getBndWebContextPath.js
  projects/npm-tools/packages/npm-scripts/src/utils/runWebpackAsBundler.js
  projects/npm-tools/packages/npm-scripts/src/utils/webpackScssLoader.js
Labels: feat, npm-scripts, npm-tools

#905 fix(npm-scripts): update path to node_modules in prettier script
  projects/npm-tools/packages/npm-scripts/contrib/prettier/prettier.js
Labels: npm-scripts, npm-tools

#909 feat: bring ESM support to AMD loader
  projects/amd-loader/src/loader/loader.js
  projects/amd-loader/src/loader/module.js
  projects/amd-loader/src/loader/script-loader.js
  projects/amd-loader/src/loader/url-builder.js
  projects/npm-tools/packages/npm-scripts/src/utils/createEsm2AmdExportsBridges.js
  projects/npm-tools/packages/npm-scripts/src/utils/createEsm2AmdIndexBridge.js
Labels: npm-scripts, npm-tools, amd-loader

#911 feat(js-toolkit): add --only option to @liferay/cli
  projects/js-toolkit/packages/liferay-cli/bin/liferay.js
  projects/js-toolkit/packages/portal-base/src/index.ts
  projects/js-toolkit/scripts/watch.js
Labels: js-toolkit, 3.x

#915 fix(npm-scripts): honor NODE_ENV setting when invoking webpack
  projects/npm-tools/packages/npm-scripts/src/utils/runWebpackAsBundler.js
Labels: npm-scripts, npm-tools

#916 feat(npm-scripts): add customBridges support
  projects/npm-tools/packages/npm-scripts/src/scripts/build.js
  projects/npm-tools/packages/npm-scripts/src/utils/createEsm2AmdCustomBridges.js
Labels: npm-scripts, npm-tools

#921 fix(npm-scripts): create output dir for custom bridges
  projects/npm-tools/packages/npm-scripts/src/utils/createEsm2AmdCustomBridges.js
Labels: npm-scripts, npm-tools
