Repository liferay/liferay-frontend-projects, pull requests merged in 2022-07, with the labels that each got.

#962 feat(npm-scripts): Add more commonly used jest mocks to our exported mocks
  projects/npm-tools/packages/npm-scripts/src/jest/mocks/Liferay.js
Labels: npm-scripts, npm-tools

#964 feat(npm-scripts): add minification when NODE_ENV is production
  projects/js-themes-toolkit/packages/liferay-theme-tasks/theme/tasks/build/sass.js
  projects/npm-tools/packages/npm-scripts/src/sass/build.js
Labels: npm-scripts, npm-tools, 10.x, js-themes-toolkit

#968 feat(npm-scripts): Improve existing Jest mocks
  projects/npm-tools/packages/npm-scripts/src/jest/mocks/Liferay.js
Labels: npm-scripts, npm-tools

#970 fix(theme-tasks): update liferay-frontend-theme-styled, liferay-front…
  projects/js-themes-toolkit/packages/liferay-theme-tasks/lib/devDependencies.js
Labels: 10.x, js-themes-toolkit

#971 feat(npm-scripts): update theme-tasks dependency
  projects/npm-tools/packages/npm-scripts/package.json
Labels: npm-scripts, npm-tools
