Repository liferay/liferay-frontend-projects, pull requests merged in 2022-01, with the labels that each got.

#801 chore(npm-scripts): Update @testing-library/react and @testing-library/dom
  projects/npm-tools/packages/npm-scripts/package.json
  yarn.lock
Labels: npm-scripts, npm-tools

#820 feat: create a tool to be able to generate the AMD to ESM bridges automatically
  projects/npm-tools/packages/npm-scripts/src/scripts/build.js
  projects/npm-tools/packages/npm-scripts/src/utils/createExportsBridges.js
  support/packages/local-npm/lib/index.js
Labels: npm-scripts, npm-tools

#815 feat(eslint-plugin): Add new rule that preferes length checks
  maintenance/projects/js-themes-toolkit-v8-x/packages/liferay-theme-tasks/index.js
  maintenance/projects/js-themes-toolkit-v8-x/packages/liferay-theme-tasks/tasks/build/compile-css.js
  maintenance/projects/js-themes-toolkit-v8-x/packages/liferay-theme-tasks/test/util.js
  maintenance/projects/js-themes-toolkit-v9-x/packages/liferay-theme-tasks/tasks/build/compile-css.js
  maintenance/projects/js-themes-toolkit-v9-x/packages/liferay-theme-tasks/test/util.js
  maintenance/projects/js-toolkit/packages/babel-plugin-wrap-modules-amd/src/index.js
  maintenance/projects/js-toolkit/packages/generator-liferay-js/src/utils/modifier/features/localization/Language.properties.js
  maintenance/projects/js-toolkit/packages/liferay-npm-build-support/src/portal/gogo-shell.js
  maintenance/projects/js-toolkit/packages/liferay-npm-build-support/src/scripts/translate.js
  maintenance/projects/js-toolkit/packages/liferay-npm-build-tools-common/src/imports.ts
  maintenance/projects/js-toolkit/packages/liferay-npm-build-tools-common/src/plugin-logger.ts
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-plugin-replace-browser-modules/src/index.ts
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler/src/__tests__/dependencies.test.js
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler/src/jar/index.js
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler/src/jar/manifest.ts
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler/src/report/html.js
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler/src/report/index.js
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler/src/steps/copy.js
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler/src/steps/rules.js
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler/src/steps/util.js
  maintenance/projects/js-toolkit/resources/devtools/link-js-toolkit/setup-yarn-workspace.js
  maintenance/projects/js-toolkit/scripts/qa/index.js
  maintenance/projects/senna/src/app/App.js
  maintenance/projects/senna/src/screen/RequestScreen.js
  projects/amd-loader/src/loader/config.js
  projects/amd-loader/src/loader/dependency-resolver.js
  projects/amd-loader/src/loader/loader.js
  projects/amd-loader/src/loader/script-loader.js
  projects/eslint-plugin/README.md
  projects/eslint-plugin/configs/general.js
  projects/eslint-plugin/rules/general/docs/rules/prefer-length-check.md
  projects/eslint-plugin/rules/general/index.js
  projects/eslint-plugin/rules/general/lib/common/className.js
  projects/eslint-plugin/rules/general/lib/common/imports.js
  projects/eslint-plugin/rules/general/lib/rules/no-absolute-import.js
  projects/eslint-plugin/rules/general/lib/rules/no-dynamic-require.js
  projects/eslint-plugin/rules/general/lib/rules/prefer-length-check.js
  projects/eslint-plugin/rules/general/tests/lib/rules/prefer-length-check.js
  projects/eslint-plugin/rules/portal/lib/rules/no-react-dom-create-portal.js
  projects/eslint-plugin/rules/portal/lib/rules/no-react-dom-render.js
  projects/js-themes-toolkit/packages/liferay-theme-tasks/lib/test/util.js
  projects/js-themes-toolkit/packages/liferay-theme-tasks/theme/tasks/build/compile-css.js
  projects/js-toolkit/packages/npm-bundler/src/adapt/index.ts
  projects/js-toolkit/packages/npm-bundler/src/bundle/configure.ts
  projects/js-toolkit/packages/npm-bundler/src/report/html.ts
  projects/js-toolkit/packages/npm-bundler/src/report/index.ts
  projects/js-toolkit/resources/devtools/link-js-toolkit/setup-yarn-workspace.js
  projects/js-toolkit/scripts/qa/index.js
  projects/npm-tools/packages/changelog-generator/src/index.js
  projects/npm-tools/packages/npm-scripts/src/jsp/Lexer.js
  projects/npm-tools/packages/npm-scripts/src/scripts/lint.js
  support/packages/github-to-jira-synchronization-tool/src/jira/JiraRetryHandler.js
Labels: docs, eslint-plugin, npm-scripts, changelog-generator, npm-tools, js-toolkit, 2.x, 3.x, amd-loader, 8.x, 9.x, 10.x, js-themes-toolkit, senna

#823 feat: add DXP target platforms
  projects/js-toolkit/packages/liferay-cli/src/dependencies.json
  target-platforms/packages/create-platform/README.md
  target-platforms/packages/create-platform/bin/create-platform.js
  target-platforms/packages/create-platform/lib/getBundlerImports.js
  target-platforms/packages/create-platform/lib/getPortalConfig.js
  target-platforms/packages/create-platform/lib/getPortalYarnLock.js
  target-platforms/packages/dxp-7.1/.yarnrc
  target-platforms/packages/dxp-7.1/config.json
  target-platforms/packages/dxp-7.1/liferay.js
  target-platforms/packages/dxp-7.1/package.json
  target-platforms/packages/dxp-7.2/.yarnrc
  target-platforms/packages/dxp-7.2/config.json
  target-platforms/packages/dxp-7.2/liferay.js
  target-platforms/packages/dxp-7.2/package.json
  target-platforms/packages/dxp-7.3/.yarnrc
  target-platforms/packages/dxp-7.3/config.json
  target-platforms/packages/dxp-7.3/liferay.js
  target-platforms/packages/dxp-7.3/package.json
  target-platforms/packages/dxp-7.4/.yarnrc
  target-platforms/packages/dxp-7.4/config.json
  target-platforms/packages/dxp-7.4/liferay.js
  target-platforms/packages/dxp-7.4/package.json
Labels: docs, feat, js-toolkit, 3.x

#826 feat(npm-scripts): fall back to checking for index.d.ts if *.ts does not exist
  projects/npm-tools/packages/npm-scripts/__fixtures__/typescript/modules/apps/frontend-js/frontend-js-react-web/package.json
  projects/npm-tools/packages/npm-scripts/__fixtures__/typescript/modules/apps/frontend-js/frontend-js-react-web/src/main/resources/META-INF/resources/index.d.ts
  projects/npm-tools/packages/npm-scripts/__fixtures__/typescript/modules/apps/frontend-js/frontend-js-react-web/src/main/resources/META-INF/resources/index.js
  projects/npm-tools/packages/npm-scripts/__fixtures__/typescript/modules/apps/frontend-js/frontend-js-state-web/package.json
  projects/npm-tools/packages/npm-scripts/__fixtures__/typescript/modules/apps/frontend-js/frontend-js-state-web/src/main/resources/META-INF/resources/js/index.ts
  projects/npm-tools/packages/npm-scripts/src/typescript/configureTypeScript.js
  projects/npm-tools/packages/npm-scripts/test/typescript/configureTypeScript.js
Labels: npm-scripts, npm-tools

#807 feat(eslint-plugin): add new rule against A.Url
  projects/eslint-plugin/README.md
  projects/eslint-plugin/configs/general.js
  projects/eslint-plugin/rules/aui/docs/rules/no-url.md
  projects/eslint-plugin/rules/aui/index.js
  projects/eslint-plugin/rules/aui/lib/rules/no-url.js
  projects/eslint-plugin/rules/aui/tests/lib/rules/no-url.js
Labels: docs, eslint-plugin

#828 fix: enable building JS files in src child directories, e.g. src/test/Test.js
  projects/js-toolkit/packages/portal-base/src/build.ts
Labels: js-toolkit, 3.x

#821 feat: make adaptations work with create-react-app 5.0.0
  maintenance/projects/js-toolkit/packages/liferay-npm-build-support/src/loader/adapt-static-urls-at-runtime.ts
  maintenance/projects/js-toolkit/packages/liferay-npm-build-support/src/loader/adapt-static-urls.ts
  maintenance/projects/js-toolkit/packages/liferay-npm-build-support/src/loader/add-css-portlet-header.ts
  maintenance/projects/js-toolkit/packages/liferay-npm-build-support/src/loader/namespace-webpack.ts
  maintenance/projects/js-toolkit/packages/liferay-npm-build-support/src/loader/normalize-angular-output.ts
  maintenance/projects/js-toolkit/packages/liferay-npm-build-support/src/loader/remove-webpack-hash.ts
  maintenance/projects/js-toolkit/packages/liferay-npm-build-support/src/loader/replace-regexp.ts
  maintenance/projects/js-toolkit/packages/liferay-npm-build-support/src/loader/wrap-webpack-bundle.ts
  maintenance/projects/js-toolkit/packages/liferay-npm-build-support/src/resources/build/create-react-app/index.js.ejs
  maintenance/projects/js-toolkit/packages/liferay-npm-build-support/src/scripts/build/index.js
  maintenance/projects/js-toolkit/packages/liferay-npm-build-tools-common/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-preset-angular-cli/config.json
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-preset-angular-cli/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-preset-create-react-app/config.json
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-preset-create-react-app/package.json
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-preset-vue-cli/config.json
  maintenance/projects/js-toolkit/packages/liferay-npm-bundler-preset-vue-cli/package.json
  maintenance/projects/js-toolkit/scripts/qa/generate-samples.js
  maintenance/projects/js-toolkit/yarn.lock
  projects/js-toolkit/packages/portal-adapt-base/package.json
  projects/js-toolkit/packages/portal-adapt-base/src/build.ts
  projects/js-toolkit/packages/portal-adapt-base/src/templates/create-react-app/index.js.ejs
  projects/js-toolkit/scripts/qa/util.js
  target-platforms/packages/portal-adapt-create-react-app/config.json
  yarn.lock
Labels: feat, js-toolkit, 2.x, 3.x

#824 docs(liferay-theme-tasks): Update the readme.md
  projects/js-themes-toolkit/packages/liferay-theme-tasks/README.md
Labels: docs, 10.x, js-themes-toolkit

#833 fix(js-themes-toolkit): mark completion of upgrade:css
  projects/js-themes-toolkit/packages/liferay-theme-tasks/theme/tasks/upgrade.js
Labels: 10.x, js-themes-toolkit
