Repository liferay/liferay-frontend-projects, pull requests merged in 2022-10, with the labels that each got.

#1018 docs(js-toolkit): fix liferay-cli manual links
  projects/js-toolkit/docs/manuals/liferay-cli.md
Labels: docs, js-toolkit, 3.x

#1021 fix(js-toolkit): stop throwing an error and instead return empty json
  maintenance/projects/js-toolkit/packages/liferay-npm-build-tools-common/src/__tests__/alias.test.ts
  maintenance/projects/js-toolkit/packages/liferay-npm-build-tools-common/src/alias.ts
Labels: js-toolkit, 2.x

#1025 feat(amd-loader): add moduleType configuration setting
  projects/amd-loader/src/loader/config.js
  projects/amd-loader/src/loader/script-loader.js
Labels: amd-loader

#1027 chore: run format
  maintenance/projects/js-toolkit/lerna.json
Labels: js-toolkit, 2.x

#1016 feat(eslint-plugin): add ESLint rule to disable non-wrapped web storage API
  projects/eslint-plugin/README.md
  projects/eslint-plugin/configs/portal.js
  projects/eslint-plugin/rules/portal/docs/rules/no-global-storage.md
  projects/eslint-plugin/rules/portal/index.js
  projects/eslint-plugin/rules/portal/lib/rules/no-global-storage.js
  projects/eslint-plugin/rules/portal/tests/lib/rules/no-global-storage.js
Labels: docs, eslint-plugin

#1028 fix(npm-scripts): update ts generation
  projects/npm-tools/packages/npm-scripts/src/config/tsconfig-base.json
  projects/npm-tools/packages/npm-scripts/src/typescript/runTSC.js
  projects/npm-tools/packages/npm-scripts/test/typescript/configureTypeScript.js
Labels: npm-scripts, npm-tools

#1029 fix(npm-scripts): update to use latest eslint-plugin
  projects/npm-tools/packages/npm-scripts/package.json
Labels: npm-scripts, npm-tools

#1030 fix(npm-scripts): check config if tsc is disables for 'types' command
  projects/npm-tools/packages/npm-scripts/src/scripts/types.js
Labels: npm-scripts, npm-tools

#1033 fix(npm-scripts): don't fail when there's no main entry in build config
  projects/npm-tools/packages/npm-scripts/src/scripts/build.js
  projects/npm-tools/packages/npm-scripts/src/utils/createEsm2AmdIndexBridge.js
Labels: npm-scripts, npm-tools

#1035 fix(npm-scripts): fix exports when explicit symbols are used for ESM
  projects/npm-tools/packages/npm-scripts/src/utils/runWebpackAsBundler.js
Labels: npm-scripts, npm-tools

#1036 feat(npm-scripts): create caching mechanism for build script
  projects/npm-tools/packages/npm-scripts/__fixtures__/utils/buildArtifacts/modules/apps/some/project/.gitignore
  projects/npm-tools/packages/npm-scripts/__fixtures__/utils/buildArtifacts/modules/apps/some/project/package.json
  projects/npm-tools/packages/npm-scripts/__fixtures__/utils/buildArtifacts/modules/yarn.lock
  projects/npm-tools/packages/npm-scripts/src/scripts/build.js
  projects/npm-tools/packages/npm-scripts/src/utils/buildArtifacts.js
  projects/npm-tools/packages/npm-scripts/test/utils/buildArtifacts.js
Labels: npm-scripts, npm-tools

#1037 fix(npm-scripts): add soy and sort
  projects/npm-tools/packages/npm-scripts/src/scripts/build.js
Labels: npm-scripts, npm-tools

#1039 fix: import TerserPlugin correctly
  projects/npm-tools/packages/npm-scripts/src/utils/runWebpackAsBundler.js
Labels: npm-scripts, npm-tools
