Repository liferay/liferay-frontend-projects, pull requests merged in 2022-06, with the labels that each got.

#933 feat(dev-server): add support for workspaces
  projects/js-toolkit/packages/dev-server/src/server.ts
Labels: 3.x, dev-server

#953 fix(js-themes-toolkit): fix minor bugs
  projects/js-themes-toolkit/packages/generator-liferay-theme/generators/facet-theme/templates/package.json.ejs
  projects/js-themes-toolkit/packages/generator-liferay-theme/generators/layout/templates/package.json.ejs
  projects/js-themes-toolkit/packages/generator-liferay-theme/generators/themelet/templates/package.json.ejs
Labels: 10.x, js-themes-toolkit

#954 fix(npm-scripts): add aspect-ratio as known property to stylelint
  projects/npm-tools/packages/npm-scripts/src/config/stylelint.json
Labels: npm-scripts, npm-tools

#948 feat(npm-scripts): add more default values for our mocks in DXP
  projects/npm-tools/packages/npm-scripts/src/jest/mocks/Liferay.js
Labels: npm-scripts, npm-tools
