Repository liferay/liferay-frontend-projects, pull requests merged in 2023-09, with the labels that each got.

#1169 chore(liferay-theme-tasks): Adds docs for Sass 1.65.1 error and div d…
  projects/js-themes-toolkit/packages/liferay-theme-tasks/README.md
Labels: docs, 10.x, js-themes-toolkit

#1170 fix(npm-scripts): sort tsconfig when generating
  projects/npm-tools/packages/npm-scripts/src/typescript/configureTypeScript.js
Labels: npm-scripts, npm-tools

#1172 feat(js-api)!: improve FDS filter CX interfaces
  projects/js-toolkit/packages/js-api/data-set/index.ts
Labels: js-toolkit, 3.x
