Repository liferay/liferay-frontend-projects, pull requests merged in 2023-03, with the labels that each got.

#1092 chore(npm-scripts): evaluate npm-scripts config and simplify slightly
  projects/npm-tools/packages/npm-scripts/src/config/npmscripts.config.js
  projects/npm-tools/packages/npm-scripts/src/utils/getMergedConfig.js
Labels: npm-scripts, npm-tools

#1093 fix(bs3-bs4-compat): Add lexicon-ux@1.x mixins
  maintenance/projects/js-themes-toolkit-v10-x/packages/bs3-bs4-compat/README.md
  maintenance/projects/js-themes-toolkit-v10-x/packages/bs3-bs4-compat/scss/_mixins.scss
  projects/js-themes-toolkit/packages/bs3-bs4-compat/README.md
  projects/js-themes-toolkit/packages/bs3-bs4-compat/scss/_mixins.scss
Labels: docs, 10.x, js-themes-toolkit

#1095 chore: remove leftover of past freeze
  maintenance/projects/js-themes-toolkit-v10-x/packages/bs3-bs4-compat/.yarnrc
  maintenance/projects/js-themes-toolkit-v10-x/packages/bs3-bs4-compat/CHANGELOG.md
  maintenance/projects/js-themes-toolkit-v10-x/packages/bs3-bs4-compat/README.md
  maintenance/projects/js-themes-toolkit-v10-x/packages/bs3-bs4-compat/package.json
  maintenance/projects/js-themes-toolkit-v10-x/packages/bs3-bs4-compat/scss/_atlas_variables.scss
  maintenance/projects/js-themes-toolkit-v10-x/packages/bs3-bs4-compat/scss/_components.scss
  maintenance/projects/js-themes-toolkit-v10-x/packages/bs3-bs4-compat/scss/_mixins.scss
  maintenance/projects/js-themes-toolkit-v10-x/packages/bs3-bs4-compat/scss/_variables.scss
  maintenance/projects/js-themes-toolkit-v10-x/packages/bs3-bs4-compat/scss/components/_alerts.scss
  maintenance/projects/js-themes-toolkit-v10-x/packages/bs3-bs4-compat/scss/components/_basic_search.scss
  maintenance/projects/js-themes-toolkit-v10-x/packages/bs3-bs4-compat/scss/components/_breadcrumbs.scss
  maintenance/projects/js-themes-toolkit-v10-x/packages/bs3-bs4-compat/scss/components/_button_groups.scss
  maintenance/projects/js-themes-toolkit-v10-x/packages/bs3-bs4-compat/scss/components/_buttons.scss
  maintenance/projects/js-themes-toolkit-v10-x/packages/bs3-bs4-compat/scss/components/_cards.scss
  maintenance/projects/js-themes-toolkit-v10-x/packages/bs3-bs4-compat/scss/components/_component_animations.scss
  maintenance/projects/js-themes-toolkit-v10-x/packages/bs3-bs4-compat/scss/components/_dropdowns.scss
  maintenance/projects/js-themes-toolkit-v10-x/packages/bs3-bs4-compat/scss/components/_figures.scss
  maintenance/projects/js-themes-toolkit-v10-x/packages/bs3-bs4-compat/scss/components/_form_validation.scss
  maintenance/projects/js-themes-toolkit-v10-x/packages/bs3-bs4-compat/scss/components/_forms.scss
  maintenance/projects/js-themes-toolkit-v10-x/packages/bs3-bs4-compat/scss/components/_grid.scss
  maintenance/projects/js-themes-toolkit-v10-x/packages/bs3-bs4-compat/scss/components/_icons.scss
  maintenance/projects/js-themes-toolkit-v10-x/packages/bs3-bs4-compat/scss/components/_labels.scss
  maintenance/projects/js-themes-toolkit-v10-x/packages/bs3-bs4-compat/scss/components/_liferay.scss
  maintenance/projects/js-themes-toolkit-v10-x/packages/bs3-bs4-compat/scss/components/_list_groups.scss
  maintenance/projects/js-themes-toolkit-v10-x/packages/bs3-bs4-compat/scss/components/_management_bar.scss
  maintenance/projects/js-themes-toolkit-v10-x/packages/bs3-bs4-compat/scss/components/_modals.scss
  maintenance/projects/js-themes-toolkit-v10-x/packages/bs3-bs4-compat/scss/components/_nav_tabs.scss
  maintenance/projects/js-themes-toolkit-v10-x/packages/bs3-bs4-compat/scss/components/_navbar.scss
  maintenance/projects/js-themes-toolkit-v10-x/packages/bs3-bs4-compat/scss/components/_navs.scss
  maintenance/projects/js-themes-toolkit-v10-x/packages/bs3-bs4-compat/scss/components/_pager.scss
  maintenance/projects/js-themes-toolkit-v10-x/packages/bs3-bs4-compat/scss/components/_panels.scss
  maintenance/projects/js-themes-toolkit-v10-x/packages/bs3-bs4-compat/scss/components/_popover.scss
  maintenance/projects/js-themes-toolkit-v10-x/packages/bs3-bs4-compat/scss/components/_progress_bars.scss
  maintenance/projects/js-themes-toolkit-v10-x/packages/bs3-bs4-compat/scss/components/_responsive_utilities.scss
  maintenance/projects/js-themes-toolkit-v10-x/packages/bs3-bs4-compat/scss/components/_sidebar.scss
  maintenance/projects/js-themes-toolkit-v10-x/packages/bs3-bs4-compat/scss/components/_simple_flexbox_grid.scss
  maintenance/projects/js-themes-toolkit-v10-x/packages/bs3-bs4-compat/scss/components/_stickers.scss
  maintenance/projects/js-themes-toolkit-v10-x/packages/bs3-bs4-compat/scss/components/_tables.scss
  maintenance/projects/js-themes-toolkit-v10-x/packages/bs3-bs4-compat/scss/components/_toggle_card.scss
  maintenance/projects/js-themes-toolkit-v10-x/packages/bs3-bs4-compat/scss/components/_toggle_switch.scss
  maintenance/projects/js-themes-toolkit-v10-x/packages/bs3-bs4-compat/scss/components/_toolbar.scss
  maintenance/projects/js-themes-toolkit-v10-x/packages/bs3-bs4-compat/scss/components/_user_icons.scss
  maintenance/projects/js-themes-toolkit-v10-x/packages/bs3-bs4-compat/scss/components/_utilities.scss
Labels: docs

#1097 fix: fix source maps for liferay-npm-bundler v2 builds
  projects/js-toolkit/packages/portal-base/src/build/bundler2.ts
Labels: js-toolkit, 3.x

#1100 feat: add @liferay/js-api project
  .eslintrc.js
  projects/js-toolkit/packages/js-api/.gitignore
  projects/js-toolkit/packages/js-api/.npmignore
  projects/js-toolkit/packages/js-api/CHANGELOG.md
  projects/js-toolkit/packages/js-api/data-set/index.ts
  projects/js-toolkit/packages/js-api/index.ts
  projects/js-toolkit/packages/js-api/package.json
  projects/js-toolkit/packages/js-api/tsconfig.json
  target-platforms/README.md
  target-platforms/packages/dxp-7.4/config.json
  target-platforms/packages/dxp-7.4/package.json
  target-platforms/packages/portal-7.4/config.json
  target-platforms/packages/portal-7.4/package.json
  target-platforms/yarn.lock
Labels: docs, js-toolkit, 3.x

#1101 feat(js-toolkit): adds support for building theme spritemap client extensions
  projects/js-toolkit/packages/js-toolkit-core/src/index.ts
  projects/js-toolkit/packages/js-toolkit-core/src/project/liferayCli/Build.ts
  projects/js-toolkit/packages/js-toolkit-core/src/project/liferayCli/Dist.ts
  projects/js-toolkit/packages/js-toolkit-core/src/project/liferayCli/Project.ts
  projects/js-toolkit/packages/js-toolkit-core/src/schema/ClientExtensionConfigJson.ts
  projects/js-toolkit/packages/js-toolkit-core/src/schema/ClientExtensionYaml.ts
  projects/js-toolkit/packages/js-toolkit-core/src/schema/LiferayJson.ts
  projects/js-toolkit/packages/portal-base/src/build/index.ts
  projects/js-toolkit/packages/portal-base/src/build/themeSpritemap.ts
  projects/js-toolkit/packages/portal-base/src/util/runSass.ts
Labels: js-toolkit, 3.x

#1102 chore(js-toolkit): add qa scripts for theme spritemap cet
  projects/js-toolkit/packages/js-toolkit-core/src/project/liferayCli/Build.ts
  projects/js-toolkit/packages/js-toolkit-core/src/project/liferayCli/Dist.ts
  projects/js-toolkit/scripts/qa/index.js
  projects/js-toolkit/scripts/qa/util.js
Labels: js-toolkit, 3.x

#1103 fix(js-toolkit-core): add missing dependency
  projects/js-toolkit/packages/js-toolkit-core/package.json
  yarn.lock
Labels: js-toolkit, 3.x

#1104 feat(liferay-cli): add new 'theme spritemap' target type
  .github/workflows/projects.yml
  projects/js-toolkit/packages/liferay-cli/src/dependencies.json
  projects/js-toolkit/packages/liferay-cli/src/new/target-theme-spritemap/index.ts
  projects/js-toolkit/packages/liferay-cli/src/new/target-theme-spritemap/templates/liferay.json.ejs
  projects/js-toolkit/packages/liferay-cli/src/new/target-theme-spritemap/templates/src/foo.svg.ejs
Labels: js-toolkit, 3.x

#1105 feat(@liferay/cli): add a way to specify what version of dxp that the target project is supported
  projects/js-toolkit/packages/liferay-cli/src/new/index.ts
  projects/js-toolkit/packages/liferay-cli/src/new/target-theme-spritemap/index.ts
Labels: js-toolkit, 3.x

#1106 fix: don't minify when NODE_ENV=development
  projects/npm-tools/packages/npm-scripts/src/utils/getExternalExportsWebpackConfigs.js
  projects/npm-tools/packages/npm-scripts/src/utils/getInternalExportsWebpackConfigs.js
  projects/npm-tools/packages/npm-scripts/src/utils/getMainWebpackConfig.js
Labels: npm-scripts, npm-tools

#1109 chore: add git ignore .idea files
  .gitignore
  maintenance/projects/js-themes-toolkit-v10-x/packages/generator-liferay-theme/generators/facet-theme/templates/package.json.ejs
  maintenance/projects/js-themes-toolkit-v10-x/packages/generator-liferay-theme/generators/layout/templates/package.json.ejs
  maintenance/projects/js-themes-toolkit-v9-x/packages/generator-liferay-theme/generators/facet-theme/templates/package.json.ejs
  maintenance/projects/js-themes-toolkit-v9-x/packages/generator-liferay-theme/generators/layout/templates/package.json.ejs
  projects/js-themes-toolkit/packages/generator-liferay-theme/generators/facet-theme/templates/package.json.ejs
  projects/js-themes-toolkit/packages/generator-liferay-theme/generators/layout/templates/package.json.ejs
  third-party/projects/alloy-ui/package.json
Labels: 9.x, 10.x, js-themes-toolkit

#1111 fix(alloy-ui): Update CONTRIBUTING.md
  third-party/projects/alloy-ui/CONTRIBUTING.md
Labels: docs

#1112 chore: simplify gulp script
  maintenance/projects/js-themes-toolkit-v10-x/packages/generator-liferay-theme/generators/facet-theme/templates/package.json.ejs
  maintenance/projects/js-themes-toolkit-v10-x/packages/generator-liferay-theme/generators/layout/templates/package.json.ejs
  maintenance/projects/js-themes-toolkit-v9-x/packages/generator-liferay-theme/generators/facet-theme/templates/package.json.ejs
  maintenance/projects/js-themes-toolkit-v9-x/packages/generator-liferay-theme/generators/layout/templates/package.json.ejs
  projects/js-themes-toolkit/packages/generator-liferay-theme/generators/facet-theme/templates/package.json.ejs
  projects/js-themes-toolkit/packages/generator-liferay-theme/generators/layout/templates/package.json.ejs
  third-party/projects/alloy-ui/package.json
Labels: 9.x, 10.x, js-themes-toolkit

#1114 feat: add a FDS cell renderer project type to @liferay/cli
  projects/js-toolkit/packages/js-toolkit-core/src/index.ts
  projects/js-toolkit/packages/js-toolkit-core/src/project/liferayCli/Build.ts
  projects/js-toolkit/packages/js-toolkit-core/src/project/liferayCli/Dist.ts
  projects/js-toolkit/packages/js-toolkit-core/src/schema/ClientExtensionConfigJson.ts
  projects/js-toolkit/packages/js-toolkit-core/src/schema/LiferayJson.ts
  projects/js-toolkit/packages/js-toolkit-core/src/transform/json/operation/setPkgJsonMain.ts
  projects/js-toolkit/packages/liferay-cli/src/dependencies.json
  projects/js-toolkit/packages/liferay-cli/src/new/target-fds-cell-renderer/index.ts
  projects/js-toolkit/packages/liferay-cli/src/new/target-fds-cell-renderer/templates/liferay.json.ejs
  projects/js-toolkit/packages/liferay-cli/src/new/target-fds-cell-renderer/templates/src/index.ts.ejs
  projects/js-toolkit/packages/liferay-cli/src/new/target-fds-cell-renderer/templates/src/index.tsx.ejs
  projects/js-toolkit/packages/liferay-cli/src/new/target-fds-cell-renderer/templates/tsconfig.json.ejs
  projects/js-toolkit/packages/portal-base/src/build/customElement.ts
  projects/js-toolkit/packages/portal-base/src/build/fdsCellRenderer.ts
  projects/js-toolkit/packages/portal-base/src/build/index.ts
  projects/js-toolkit/packages/portal-base/src/build/themeSpritemap.ts
  projects/js-toolkit/packages/portal-base/src/util/ManifestJsonWebpackPlugin.ts
  projects/js-toolkit/packages/portal-base/src/util/copyAssets.ts
  projects/js-toolkit/packages/portal-base/src/util/createManifest.ts
  projects/js-toolkit/packages/portal-base/src/util/findScssFiles.ts
  projects/js-toolkit/packages/portal-base/src/util/getWebpackConfiguration.ts
  projects/js-toolkit/packages/portal-base/src/util/makeZip.ts
  projects/js-toolkit/packages/portal-base/src/util/runWebpack.ts
Labels: js-toolkit, 3.x

#1117 fix(portal-base): add missing ts-loader dependency
  projects/js-toolkit/packages/portal-base/package.json
Labels: js-toolkit, 3.x

#1118 fix(portal-base): add missing typescript dependency
  projects/js-toolkit/packages/portal-base/package.json
Labels: js-toolkit, 3.x

#1119 fix(portal-base): show better error message for webpack build
  projects/js-toolkit/packages/portal-base/src/util/runWebpack.ts
Labels: js-toolkit, 3.x

#1120 fix: build and start for FDS Cell Renderer projects
  projects/js-toolkit/packages/js-toolkit-core/src/index.ts
  projects/js-toolkit/packages/js-toolkit-core/src/project/liferayCli/Build.ts
  projects/js-toolkit/packages/js-toolkit-core/src/project/liferayCli/Dist.ts
  projects/js-toolkit/packages/js-toolkit-core/src/project/liferayCli/Project.ts
  projects/js-toolkit/packages/js-toolkit-core/src/schema/LiferayJson.ts
  projects/js-toolkit/packages/portal-base/src/build/customElement.ts
  projects/js-toolkit/packages/portal-base/src/build/fdsCellRenderer.ts
  projects/js-toolkit/packages/portal-base/src/build/themeSpritemap.ts
  projects/js-toolkit/packages/portal-base/src/configureStart.ts
  projects/js-toolkit/packages/portal-base/src/index.ts
  projects/js-toolkit/packages/portal-base/src/prepareStart.ts
  projects/js-toolkit/packages/portal-base/src/start.ts
  projects/js-toolkit/packages/portal-base/src/start/index.ts
  projects/js-toolkit/packages/portal-base/src/util/getWebpackConfiguration.ts
  projects/js-toolkit/packages/portal-base/src/util/runWebpack.ts
  projects/js-toolkit/packages/portal-base/src/util/startWebpackDevServer.ts
  projects/js-toolkit/packages/portal-base/src/util/startableProjectTypes.ts
  target-platforms/packages/dxp-7.4/config.json
  target-platforms/packages/dxp-7.4/liferay.json
  target-platforms/packages/dxp-7.4/package.json
  target-platforms/packages/portal-7.4/config.json
  target-platforms/packages/portal-7.4/liferay.json
  target-platforms/packages/portal-7.4/package.json
Labels: js-toolkit, 3.x

#1121 feat(js-toolkit-core): use PORT env var for `npm run start` when present
  projects/js-toolkit/packages/js-toolkit-core/src/project/liferayCli/Start.ts
Labels: js-toolkit, 3.x
