Repository liferay/liferay-frontend-projects, pull requests merged in 2023-07, with the labels that each got.

#1151 fix(npm-scripts): support formatting css files
  .github/workflows/projects.yml
  projects/npm-tools/packages/npm-scripts/src/config/npmscripts.config.js
  projects/npm-tools/packages/npm-scripts/src/config/stylelint.json
  projects/npm-tools/packages/npm-scripts/src/scripts/format.js
  projects/npm-tools/packages/npm-scripts/src/scripts/lint.js
  projects/npm-tools/packages/npm-scripts/src/scripts/lint/stylelint/isSCSS.js
  projects/npm-tools/packages/npm-scripts/src/scripts/lint/stylelint/lintSCSS.js
Labels: npm-scripts, npm-tools

#1152 fix(theme-tasks): consider the case then border-radius value might be a variable
  maintenance/projects/js-themes-toolkit-v10-x/packages/liferay-theme-tasks/lib/r2/liferay-r2/index.js
  maintenance/projects/js-themes-toolkit-v9-x/packages/liferay-theme-tasks/lib/r2/liferay-r2/index.js
  projects/js-themes-toolkit/packages/liferay-theme-tasks/lib/r2/liferay-r2/index.js
Labels: 9.x, 10.x, js-themes-toolkit

#1153 revert: "chore: prepare liferay-theme-tasks/v11.5.2 release"
  projects/js-themes-toolkit/packages/liferay-theme-tasks/CHANGELOG.md
  projects/js-themes-toolkit/packages/liferay-theme-tasks/package.json
Labels: docs, 10.x, js-themes-toolkit

#1154 fix(npm-scripts): update liferay-theme-tasks version
  projects/npm-tools/packages/npm-scripts/package.json
  yarn.lock
Labels: npm-scripts, npm-tools

#1155 feat(amd-loader): make loader compatible with CSP `script-src '[$NONCE$]'`
  projects/amd-loader/src/loader/config.js
  projects/amd-loader/src/loader/script-loader.js
  projects/amd-loader/test/loader/loader.js
  projects/amd-loader/test/loader/script-loader.js
Labels: amd-loader

#1156 feat: ignore node_modules when minifying files and add new eslint rule for dependency check
  projects/eslint-plugin/configs/general.js
  projects/eslint-plugin/rules/general/index.js
  projects/eslint-plugin/rules/general/lib/rules/no-extraneous-dependencies.js
  projects/npm-tools/packages/npm-scripts/src/utils/minify.js
Labels: eslint-plugin, npm-scripts, npm-tools
