Repository liferay/liferay-frontend-projects, pull requests merged in 2023-08, with the labels that each got.

#1158 fix(amd-loader): don't emit the nonce if it is empty
  projects/amd-loader/src/loader/script-loader.js
  yarn.lock
Labels: amd-loader

#1159 fix(senna): Modify URI generation to properly handle link to emails
  maintenance/projects/senna/src/app/App.js
Labels: senna

#1157 feat(js-api): add FDS CX interfaces with `HTMLBuilder` naming convention
  projects/js-toolkit/packages/js-api/data-set/index.ts
Labels: js-toolkit, 3.x

#1165 chore(senna): add test for senna CI
  .github/workflows/projects.yml
  .github/workflows/senna.yml
  maintenance/projects/senna/CONTRIBUTING.md
  maintenance/projects/senna/karma.conf.js
  maintenance/projects/senna/package.json
  maintenance/projects/senna/src/app/App.js
  maintenance/projects/senna/yarn.lock
Labels: docs, senna

#1161 fix(amd-loader): return configured CSP nonce when requested
  projects/amd-loader/src/loader/config.js
Labels: amd-loader

#1163 fix(liferay-theme-tasks): Fix sass version to 1.64.1
  projects/js-themes-toolkit/packages/liferay-theme-tasks/package.json
  yarn.lock
Labels: 10.x, js-themes-toolkit

#1168 fix(npm-scripts): add CSP to Liferay mock
  projects/eslint-plugin/rules/general/lib/rules/no-extraneous-dependencies.js
  projects/npm-tools/packages/npm-scripts/src/jest/mocks/Liferay.js
Labels: eslint-plugin, npm-scripts, npm-tools
