Repository liferay/liferay-frontend-projects, pull requests merged in 2023-02, with the labels that each got.

#1075 fix(npm-scripts): set getDoAsUserIdEncoded mock as empty string
  projects/npm-tools/packages/npm-scripts/src/jest/mocks/Liferay.js
Labels: npm-scripts, npm-tools

#1074 feat: update theme deps to latest version numbers
  projects/js-themes-toolkit/packages/liferay-theme-tasks/lib/devDependencies.js
Labels: 10.x, js-themes-toolkit

#1077 chore: update npm-scripts cacheing and remove dev-server
  projects/js-toolkit/packages/dev-server/.yarnrc
  projects/js-toolkit/packages/dev-server/CHANGELOG.md
  projects/js-toolkit/packages/dev-server/README.md
  projects/js-toolkit/packages/dev-server/bin/liferay-dev-server.js
  projects/js-toolkit/packages/dev-server/package.json
  projects/js-toolkit/packages/dev-server/src/reload.ts
  projects/js-toolkit/packages/dev-server/src/server.ts
  projects/js-toolkit/packages/dev-server/src/title.ts
  projects/js-toolkit/packages/dev-server/src/util/log.ts
  projects/js-toolkit/packages/dev-server/tsconfig.json
  projects/npm-tools/packages/npm-scripts/src/scripts/build.js
  projects/npm-tools/packages/npm-scripts/src/utils/buildArtifacts.js
  yarn.lock
Labels: docs, npm-scripts, npm-tools, js-toolkit, 3.x

#1087 feat: support internal path in exports field
  projects/npm-tools/packages/npm-scripts/src/utils/createEsm2AmdExportsBridges.js
  projects/npm-tools/packages/npm-scripts/src/utils/getExternalExportsWebpackConfigs.js
  projects/npm-tools/packages/npm-scripts/src/utils/getInternalExportsWebpackConfigs.js
  projects/npm-tools/packages/npm-scripts/src/utils/getMainWebpackConfig.js
  projects/npm-tools/packages/npm-scripts/src/utils/getMergedConfig.js
  projects/npm-tools/packages/npm-scripts/src/utils/runWebpackAsBundler.js
Labels: npm-scripts, npm-tools

#1088 style: fix typo
  projects/npm-tools/packages/npm-scripts/src/utils/runWebpackAsBundler.js
Labels: npm-scripts, npm-tools

#1089 fix: correctly normalize exports
  projects/npm-tools/packages/npm-scripts/src/utils/getMergedConfig.js
Labels: npm-scripts, npm-tools

#1090 fix: don't shadow {symbols: 'auto'}
  projects/npm-tools/packages/npm-scripts/src/utils/getExternalExportsWebpackConfigs.js
  projects/npm-tools/packages/npm-scripts/src/utils/getMergedConfig.js
Labels: npm-scripts, npm-tools
