Repository liferay/liferay-frontend-projects, pull requests merged in 2024-06, with the labels that each got.

#1204 feat(npm-scripts): provide a flag to disable sass
  projects/npm-tools/packages/npm-scripts/src/scripts/build.js
Labels: npm-scripts, npm-tools

#1221 feat(npm-scripts): allow for testing in react-16 exclusively
  projects/npm-tools/packages/npm-scripts/package.json
  projects/npm-tools/packages/npm-scripts/src/config/jest.config.js
  yarn.lock
Labels: npm-scripts, npm-tools

#1222 chore: fix github ci
  .github/workflows/amd-loader.yml
  .github/workflows/format.yml
  .github/workflows/guidelines.yml
  .github/workflows/js-themes-toolkit-v8-x.yml
  .github/workflows/js-themes-toolkit-v9-x.yml
  .github/workflows/js-toolkit-v2.yml
  .github/workflows/lint.yml
  .github/workflows/lockfile.yml
  .github/workflows/new-portal-release.yml
  .github/workflows/prettier-plugin.yml
  .github/workflows/projects.yml
  .github/workflows/senna.yml
  projects/js-toolkit/scripts/build.js
Labels: js-toolkit, 3.x

#1223 fix(stylelint-plugin): provide plugin via cjs with no build step
  maintenance/projects/js-themes-toolkit-v8-x/packages/liferay-theme-tasks/lib/doctor.js
  projects/npm-tools/packages/npm-scripts/src/sass/build.js
  projects/stylelint-plugin/index.js
  projects/stylelint-plugin/index.mjs
  projects/stylelint-plugin/package.json
  projects/stylelint-plugin/plugin.mjs
  projects/stylelint-plugin/plugins.js
  projects/stylelint-plugin/rules/no-block-comments.js
  projects/stylelint-plugin/rules/no-import-extension.js
  projects/stylelint-plugin/rules/single-imports.js
  projects/stylelint-plugin/rules/sort-imports.js
  projects/stylelint-plugin/rules/trim-comments.js
  yarn.lock
Labels: npm-scripts, npm-tools, 8.x, js-themes-toolkit
