Repository liferay/liferay-frontend-projects, pull requests merged in 2024-01, with the labels that each got.

#1187 feat(npm-scripts): detect root dir when package-lock.json present
  projects/npm-tools/packages/npm-scripts/src/utils/findRoot.js
Labels: npm-scripts, npm-tools

#1190 feat(npm-scripts): detect playwright folder as root
  projects/npm-tools/packages/npm-scripts/src/utils/findRoot.js
Labels: npm-scripts, npm-tools

#1189 fix: Exchange flipping and style evaluation order to avoid css flicker #1188
  maintenance/projects/senna/src/app/App.js
  maintenance/projects/senna/test/app/App.js
Labels: senna

#1192 chore(generator-liferay-theme): update docs for yo@v4
  maintenance/projects/js-themes-toolkit-v10-x/packages/generator-liferay-theme/README.md
  projects/js-themes-toolkit/packages/generator-liferay-theme/README.md
Labels: docs, 10.x, js-themes-toolkit
